# This is a realtime project
- While writing up this pandas course, I wanted a dataset that can be used as candidate
- Dataset has to satisfy various conditions to be suitable for the classroom course
- This project was to scour the internet , find a particular URL where datasets were hosted
- Scrape the datasets (traditional python libraries) and use pandas to analyse and get the best dataset that helps me to design the course
- The use case of scraping and analyzing is pretty common use case

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

url = 'https://vincentarelbundock.github.io/Rdatasets/datasets.html'
page = requests.get(url)

soup = BeautifulSoup(page.content, 'html.parser')
table = soup.find('table', {"class" : "dataframe"})
df = pd.read_html(str(table), encoding='utf-8', header=0)[0]

In [2]:
df.columns

Index(['Package', 'Item', 'Title', 'Rows', 'Cols', 'n_binary', 'n_character',
       'n_factor', 'n_logical', 'n_numeric', 'CSV', 'Doc'],
      dtype='object')

In [7]:
df[df.columns[2]].to_list()

['Monthly Excess Returns',
 'Delay in AIDS Reporting in England and Wales',
 'Failures of Air-conditioning Equipment',
 'Failures of Air-conditioning Equipment',
 'Car Speeding and Warning Signs',
 'Remission Times for Acute Myelogenous Leukaemia',
 'Beaver Body Temperature Data',
 'Population of U.S. Cities',
 'Spatial Location of Bramble Canes',
 'Smoking Deaths Among Doctors',
 'Calcium Uptake Data',
 'Sugar-cane Disease Data',
 'Simulated Manufacturing Process Data',
 'Weight Data for Domestic Cats',
 'Position of Muscle Caveolae',
 'CD4 Counts for HIV-Positive Patients',
 'Nested Bootstrap of cd4 data',
 'Channing House Data',
 'Population of U.S. Cities',
 'Genetic Links to Left-handedness',
 'Number of Flaws in Cloth',
 'Carbon Monoxide Transfer',
 'Dates of Coal Mining Disasters',
 "Darwin's Plant Height Differences",
 'Cardiac Data for Domestic Dogs',
 "Incidence of Down's Syndrome in British Columbia",
 'Behavioral and Plumage Characteristics of Hybrid Ducks',
 'Counts of Balsam-fir Seedlings',
 'Head Dimensions in Brothers',
 'Acceleration Due to Gravity',
 'Acceleration Due to Gravity',
 'Failure Time of PET Film',
 'Jura Quartzite Azimuths on Islay',
 'Average Heights of the Rio Negro river at Manaus',
 'Survival from Malignant Melanoma',
 'Data from a Simulated Motorcycle Accident',
 'Neurophysiological Point Process Data',
 'Toxicity of Nitrofen in Aquatic Systems',
 'Nodal Involvement in Prostate Cancer',
 'Nuclear Power Station Construction Data',
 'Neurotransmission in Guinea Pig Brains',
 'Animal Survival Times',
 'Pole Positions of New Caledonian Laterites',
 'Cancer Remission and Cell Activity',
 'Water Salinity and River Discharge',
 'Survival of Rats after Radiation Doses',
 'Tau Particle Decay Modes',
 'Tuna Sighting Data',
 'Urine Analysis Data',
 'Australian Relative Wool Prices',
 'Experimenter Expectations',
 'American Math Society Survey Data',
 'Moral Integration of American Cities',
 'U. S. State Public-School Expenditures',
 'Arrests for Marijuana Possession',
 'Methods of Teaching Reading Comprehension',
 'British Election Panel Study',
 "Canadian Women's Labour-Force Participation",
 'Exercise Histories of Eating-Disordered and Control Subjects',
 'Fraudulent Data on IQs of Twins Raised Apart',
 'Canadian Population Data',
 '2011 Canadian National Election Study, With Attitude Toward Abortion',
 'Voting Intentions in the 1988 Chilean Plebiscite',
 'The 1907 Romanian Peasant Rebellion',
 "Cowles and Davis's Data on Volunteering",
 'Self-Reports of Height and Weight',
 "Davis's Data on Drive for Thinness",
 'Minnesota Wolf Depredation Data',
 "Duncan's Occupational Prestige Data",
 'The 1980 U.S. Census Undercount',
 'Florida County Voting',
 'Crowding and Crime in U. S. Metropolitan Areas',
 'Format Effects on Recall',
 'Data on Depression',
 'Refugee Appeals',
 'Data from the General Social Survey (GSS) from the National Opinion Research Center of the University of Chicago.',
 'Anonymity and Cooperation',
 'Canadian Crime-Rates Time Series',
 'Highway Accidents',
 'Treatment of Migraine Headaches',
 'Data on Infant-Mortality',
 'Cancer drug data use to provide an example of the use of the skew power distributions.',
 'Contrived Collinear Data',
 'Canadian Interprovincial Migration Data',
 'Status, Authoritarianism, and Conformity',
 'Minneapolis Demographic Data 2015, by Neighborhood',
 'Minneapolis Police Department 2017 Stop Data',
 "U.S. Women's Labor-Force Participation",
 "O'Brien and Kaiser's Repeated-Measures Data",
 'Interlocking Directorates Among Major Canadian Firms',
 'Chemical Composition of Pottery',
 'Prestige of Canadian Occupations',
 'Four Regression Datasets',
 'Fertility and Contraception',
 "Rossi et al.'s Criminal Recidivism Data",
 'Agricultural Production in Mazulu Village',
 'Salaries for Professors',
 'Survey of Labour and Income Dynamics',
 'Soil Compositions of Physical and Chemical Characteristics',
 'Education and Related Statistics for the U.S. States',
 'Survival of Passengers on the Titanic',
 'Transaction data',
 'National Statistics from the United Nations, Mostly From 2009-2011',
 'United Nations Social Indicators Data 1998]',
 'Population of the United States',
 'Vocabulary and Education',
 'Weight Loss Data',
 'Well Switching in Bangladesh',
 "Canadian Women's Labour-Force Participation",
 'Post-Coma Recovery of IQ',
 'Wool data',
 'World Values Surveys',
 'European Union Agricultural Workforces',
 'Attributes of Animals',
 'Subset of C-horizon of Kola Data',
 'Flower Characteristics',
 'Plant Species Traits Data',
 'Isotopic Composition Plutonium Batches',
 'Ruspini Data',
 'Votes for Republican Candidate in Presidential Elections',
 'Bivariate Data Set with 3 Clusters',
 'affairs',
 'azcabgptca',
 'azdrg112',
 'azpro',
 'azprocedure',
 'badhealth',
 'fasttrakg',
 'fishing',
 'lbw',
 'lbwgrp',
 'loomis',
 'mdvis',
 'medpar',
 'nuts',
 'rwm',
 'rwm1984',
 'rwm5yr',
 'ships',
 'smoking',
 'titanic',
 'titanicgrp',
 'Aberrant Crypt Foci in Rat Colons',
 'Australian athletes data set',
 'Measurements on a Selection of Books',
 'Anesthetic Effectiveness',
 'Averages by block of corn yields, for treatment 111 only',
 'Averages by block of yields for the Antigua Corn data',
 'Tasting experiment that compared four apple varieties',
 'Latitudes and longitudes for ten Australian cities',
 'Population figures for Australian States and Territories',
 'Biomass Data',
 'Australian and Related Historical Annual Climate Data, by region',
 'Australian and Related Historical Annual Climate Data, by region',
 'Australian and Related Historical Annual Climate Data, by region',
 'Southern Oscillation Index Data',
 'Southern Oscillation Index Data',
 'Boston Housing Data - Corrected',
 'US Car Price Data',
 'A Summary of the Cars93 Data set',
 'Percentage of Sugar in Breakfast Cereal',
 'Cape Fur Seal Data',
 'Populations of Major Canadian Cities (1992-96)',
 'Dose-mortality data, for fumigation of codling moth with methyl bromide',
 'Occupation and wage profiles of British cotton workers',
 'Labour Training Evaluation Data',
 'Labour Training Evaluation Data',
 'Labour Training Evaluation Data',
 'Lifespans of UK 1st class cricketers born 1840-1960',
 'Comparison of cuckoo eggs with host eggs',
 'Cuckoo Eggs Data',
 'Dengue prevalence, by administrative region',
 'Dewpoint Data',
 'Periods Between Rain Events',
 'EPICA Dome C Ice Core 800KYr Carbon Dioxide Data',
 'EPICA Dome C Ice Core 800KYr Temperature Estimates',
 'Elastic Band Data Replicated',
 'Elastic Band Data Replicated Again',
 'Elastic Band Data',
 'Fossil Fuel Data',
 'Female Possum Measurements',
 'Frogs Data',
 'Frosted Flakes data',
 'Electrical Resistance of Kiwi Fruit',
 'Effect of pentazocine on post-operative pain (average VAS scores)',
 'Seismic Timing Data',
 'Yearly averages of Great Lake heights: 1918 - 2009',
 'Alcohol consumption in Australia and New Zealand',
 'Minor Head Injury (Simulated) Data',
 'Minor Head Injury (Simulated) Data',
 'Scottish Hill Races Data',
 'Scottish Hill Races Data - 2000',
 'Hawaian island chain hotspot Potassium-Argon ages',
 'Hawaian island chain hotspot Argon-Argon ages',
 'Aranda House Prices',
 'Oxygen uptake versus mechanical power, for humans',
 'Oxygen uptake versus mechanical power, for humans',
 'Named US Atlantic Hurricanes',
 'Blood pressure versus Salt; inter-population data',
 'Iron Content Measurements',
 'Canadian Labour Force Summary Data (1995-96)',
 'Kiwi Shading Data',
 'Full Leaf Shape Data Set',
 'Subset of Leaf Shape Data Set',
 'Leaf and Air Temperature Data',
 'Full Leaf and Air Temperature Data Set',
 'Mouse Litters',
 'Ontario Lottery Data',
 'Cape Fur Seal Lung Measurements',
 'The Nine Largest Lakes in Manitoba',
 'Deaths in London from measles',
 'Family Medical Expenses',
 'Mortality Outcomes for Females Suffering Myocardial Infarction',
 "Darwin's Wild Mignonette Data",
 'Milk Sweetness Study',
 'Model Car Data',
 'WHO Monica Data',
 'Moths Data',
 'Airbag and other influences on accident fatalities',
 'Documentation of names of columns in nass9702cor',
 'Record times for Northern Ireland mountain running events',
 'Labour Training Evaluation Data',
 'Labour Training Evaluation Data',
 'Labour Training Evaluation Data',
 'A Subset of the nsw74psid1 Data Set',
 'Labour Training Evaluation Data',
 'Labour Training Evaluation Data',
 'Measurements on 12 books',
 'Challenger O-rings Data',
 'Ozone Data',
 'Heated Elastic Bands',
 'Possum Measurements',
 'Possum Sites',
 'Deaths from various causes, in London from 1629 till 1881, with gaps',
 'Primate Body and Brain Weights',
 'Progression of Record times for track races, 1912 - 2008',
 'Labour Training Evaluation Data',
 'Labour Training Evaluation Data',
 'Labour Training Evaluation Data',
 'Scottish Hill Races Data - 2000',
 'Rainforest Data',
 'Rare and Endangered Plant Species',
 'Genetically Modified and Wild Type Rice Data',
 'Pacific Rock Art features',
 'Lawn Roller Data',
 'School Science Survey Data',
 'Barley Seeding Rate Data',
 'Social Support Data',
 'Measurements on a Selection of Paperback Books',
 'sorption data set',
 'Closing Numbers for S and P 500 Index',
 'Closing Numbers for S and P 500 Index - First 100 Days of 1990',
 'Spam E-mail Data',
 'Averages by block of yields for the St. Vincent Corn data',
 'Sugar Data',
 'Car Window Tinting Experiment Data',
 'Root weights of tomato plants exposed to 4 different treatments',
 'Toy Cars Data',
 'Averages by block of corn yields, for treatment 111 only',
 'Video Lottery Terminal Data',
 'Wages of Lancashire Cotton Factory Workers in 1833',
 'Deaths from whooping cough, in London',
 'Record times for track and road races, at August 9th 2006',
 'Ability and Intelligence Tests',
 'Passenger Miles on Commercial US Airlines, 1937-1960',
 'Monthly Airline Passenger Numbers 1949-1960',
 'New York Air Quality Measurements',
 "Anscombe's Quartet of 'Identical' Simple Linear Regressions",
 'The Joyner-Boore Attenuation Data',
 'The Chatterjee-Price Attitude Data',
 'Quarterly Time Series of the Number of Australian Residents',
 'Sales Data with Leading Indicator',
 'Biochemical Oxygen Demand',
 'Speed and Stopping Distances of Cars',
 'Weight versus age of chicks on different diets',
 'Chicken Weights by Feed Type',
 'Mauna Loa Atmospheric CO2 Concentration',
 'Carbon Dioxide Uptake in Grass Plants',
 "Student's 3000 Criminals Data",
 'Yearly Numbers of Important Discoveries',
 'Elisa assay of DNase',
 'Smoking, Alcohol and (O)esophageal Cancer',
 'Conversion Rates of Euro Currencies',
 'Daily Closing Prices of Major European Stock Indices, 1991-1998',
 'Old Faithful Geyser Data',
 'Determination of Formaldehyde',
 "Freeny's Revenue Data",
 'Hair and Eye Color of Statistics Students',
 'Harman Example 2.3',
 'Harman Example 7.4',
 'Pharmacokinetics of Indomethacin',
 'Infertility after Spontaneous and Induced Abortion',
 'Effectiveness of Insect Sprays',
 "Edgar Anderson's Iris Data",
 "Edgar Anderson's Iris Data",
 "Areas of the World's Major Landmasses",
 'Quarterly Earnings per Johnson & Johnson Share',
 'Level of Lake Huron 1875-1972',
 'Luteinizing Hormone in Blood Samples',
 'Intercountry Life-Cycle Savings Data',
 'Growth of Loblolly pine trees',
 "Longley's Economic Regression Data",
 'Annual Canadian Lynx trappings 1821-1934',
 'Michelson Speed of Light Data',
 'Motor Trend Car Road Tests',
 'Average Yearly Temperatures in New Haven',
 'Flow of the River Nile',
 'Average Monthly Temperatures at Nottingham, 1920-1939',
 'Classical N, P, K Factorial Experiment',
 'Occupational Status of Fathers and their Sons',
 'Growth of Orange Trees',
 'Potency of Orchard Sprays',
 'Results from an Experiment on Plant Growth',
 'Annual Precipitation in US Cities',
 'Quarterly Approval Ratings of US Presidents',
 'Vapor Pressure of Mercury as a Function of Temperature',
 'Reaction Velocity of an Enzymatic Reaction',
 'Locations of Earthquakes off Fiji',
 'Random Numbers from Congruential Generator RANDU',
 'Lengths of Major North American Rivers',
 'Measurements on Petroleum Rock Samples',
 'Road Casualties in Great Britain 1969-84',
 "Student's Sleep Data",
 "Brownlee's Stack Loss Plant Data",
 'Monthly Sunspot Data, from 1749 to "Present"',
 'Yearly Sunspot Data, 1700-1988',
 'Monthly Sunspot Numbers, 1749-1983',
 'Swiss Fertility and Socioeconomic Indicators (1888) Data',
 'Pharmacokinetics of Theophylline',
 'Survival of passengers on the Titanic',
 'The Effect of Vitamin C on Tooth Growth in Guinea Pigs',
 'Yearly Treering Data, -6000-1979',
 'Girth, Height and Volume for Black Cherry Trees',
 'Student Admissions at UC Berkeley',
 'Road Casualties in Great Britain 1969-84',
 'UK Quarterly Gas Consumption',
 'Accidental Deaths in the US 1973-1978',
 'Violent Crime Rates by US State',
 "Lawyers' Ratings of State Judges in the US Superior Court",
 'Personal Expenditure Data',
 'Populations Recorded by the US Census',
 'Death Rates in Virginia (1940)',
 "Topographic Information on Auckland's Maunga Whau Volcano",
 'The Number of Breaks in Yarn during Weaving',
 'Average Heights and Weights for American Women',
 "The World's Telephones",
 'Internet Usage per Minute',
 'Acifluorfen and diquat tested on Lemna minor.',
 'Volume of algae as function of increasing concentrations of a herbicide',
 'Effect of technical grade and commercially formulated auxin herbicides',
 'Germination of common chickweed (_Stellaria media_)',
 'Germination of common chickweed (_Stellaria media_)',
 'Daphnia test',
 'Performance of decontaminants used in the culturing of a micro-organism',
 'Deguelin applied to chrysanthemum aphis',
 'Earthworm toxicity test',
 'Effect of erythromycin on mixed sewage microorganisms',
 'Example from Finney (1971)',
 'Herbicide applied to Galium aparine',
 'Germination of three crops',
 'Glyphosate and metsulfuron-methyl tested on algae.',
 'Mortality of tobacco budworms',
 'Heart rate baroreflexes for rabbits',
 'Leaf length of barley',
 'Dose-response profile of degradation of agrochemical using lepidium',
 'Hormesis in lettuce plants',
 'Effect of an effluent on the growth of mysid shrimp',
 'Mechlorprop and terbythylazine tested on Lemna minor',
 'Data from heavy metal mixture experiments',
 'Weight gain for different methionine sources',
 'Dose-response profile of degradation of agrochemical using nasturtium',
 'Test data from a 21 day fish test',
 'Effect of sodium pentachlorophenate on growth of fathead minnow',
 'Competition between two biotypes',
 'Effect of ferulic acid on growth of ryegrass',
 'Potency of two herbicides',
 'Effect of cadmium on growth of green alga',
 'Root length measurements',
 'Data from toxicology experiments with selenium',
 'Inhibition of photosynthesis',
 'The effect of terbuthylazin on growth rate',
 'Vinclozolin from AR in vitro assay',
 'Ship Accidents',
 'Cost for U.S. Airlines',
 'Air Quality for Californian Metropolitan Areas',
 'Countries in Banking Crises',
 'Unemployment of Blue Collar Workers',
 'Bids Received By U.S. Firms',
 'Cyber Security Breaches',
 'Budget Share of Food for Spanish Households',
 'Budget Shares for Italian Households',
 'Budget Shares of British Households',
 'Wages in Belgium',
 'Stock Market Data',
 'Stated Preferences for Car Choice',
 'The California Test Score Data Set',
 'Choice of Brand for Catsup',
 'Cigarette Consumption',
 'The Cigarette Consumption Panel Data Set',
 "Sales Data of Men's Fashion Stores",
 'Prices of Personal Computers',
 'Quarterly Data on Consumption and Expenditure',
 'Earnings from the Current Population Survey',
 'Choice of Brand for Crakers',
 'Growth of CRAN',
 'Crime in North Carolina',
 'Daily Returns from the CRSP Database',
 'Monthly Returns from the CRSP Database',
 "Pricing the C's of Diamond Stones",
 'DM Dollar Exchange Rate',
 'Number of Doctor Visits',
 'Doctor Visits in Australia',
 'Contacts With Medical Doctor',
 'Earnings for Three Age Groups',
 'Cost Function for Electricity Producers',
 'Extramarital Affairs Data',
 'Drunk Driving Laws and Traffic Deaths',
 'Choice of Fishing Mode',
 'Exchange Rates of US Dollar Against Other Currencies',
 'Data from the Television Game Show Friend Or Foe ?',
 'Daily Observations on Exchange Rates of the US Dollar Against Other Currencies',
 'Gasoline Consumption',
 'Wage Datas',
 'Grunfeld Investment Data',
 'Heating and Cooling System Choice in Newly Built Houses in California',
 'The Boston HMDA Data Set',
 'Heating System Choice in California Houses',
 'Hedonic Prices of Census Tracts in Boston',
 'Cybersecurity breaches reported to the US Department of Health and Human Services',
 'Health Insurance and Hours Worked By Wives',
 'The Boston HMDA Data Set',
 'Sales Prices of Houses in the City of Windsor',
 'Housing Starts',
 'Ice Cream Consumption',
 'Global Terrorism Database yearly summaries',
 'Income Inequality in the US',
 'Seasonally Unadjusted Quarterly Data on Disposable Income and Expenditure',
 'Monthly Interest Rates',
 'Economic Journals Dat Set',
 'Willingness to Pay for the Preservation of the Kakadu National Park',
 'Choice of Brand for Ketchup',
 "Klein's Model I",
 'Wages and Hours Worked',
 'Belgian Firms',
 'The Longley Data',
 'Dollar Sterling Exchange Rate',
 'Macroeconomic Time Series for the United States',
 'Wages and Education of Young Males',
 'Manufacturing Costs',
 'Level of Calculus Attained for Students Taking Advanced Micro-economics',
 'The Massachusetts Test Score Data Set',
 'Structure of Demand for Medical Care',
 'Production for SIC 33',
 'Inflation and Interest Rates',
 'Mode Choice',
 'Data to Study Travel Mode Choice',
 "International Expansion of U.S. Mofa's (majority-owned Foreign Affiliates in Fire (finance, Insurance and Real Estate)",
 'Money, GDP and Interest Rate in Canada',
 'Macroeconomic Series for the United States',
 'Money, National Product and Interest Rate',
 'Labor Supply Data',
 'Municipal Expenditure Data',
 'Growth of Disposable Income and Treasury Bill Rate',
 'Willingness to Pay for the Preservation of the Alentejo Natural Park',
 'Cost Function for Electricity Producers, 1955',
 'Global Terrorism Database yearly summaries',
 'Names with Character Set Problems',
 'Visits to Physician Office',
 'Oil Investment',
 'The Orange Juice Data Set',
 'Labor Force Participation',
 'Dynamic Relation Between Patents and R&D',
 'Patents, R&D and Technological Spillovers for a Panel of Firms',
 'Price and Earnings Index',
 'Political knowledge in the US and Europe',
 'Pound-dollar Exchange Rate',
 'Exchange Rates and Price Indices for France and Italy',
 'Returns of Size-based Portfolios',
 'Us States Production',
 'Panel Survey of Income Dynamics',
 'Return to Schooling',
 'Wages and Schooling',
 "Solow's Technological Change Data",
 'Visits to Lake Somerville',
 "Returns on Standard & Poor's 500 Index",
 'Effects on Learning of Small Class Sizes',
 'Strike Duration Data',
 'Strikes Duration',
 'Number of Strikes in Us Manufacturing',
 'The Penn Table',
 'Interest Rate, GDP and Inflation',
 'Global Terrorism Database yearly summaries',
 'Households Tobacco Budget Share',
 'Stated Preferences for Train Traveling',
 'Statewide Data on Transportation Equipment Manufacturing',
 'Evaluating Treatment Effect of Training on Earnings',
 'Choice of Brand for Tuna',
 'Unemployment Duration',
 'Unemployment Duration',
 'Provision of University Teaching and Research',
 'Official Secrecy of the United States Government',
 'US Finance Industry Profits',
 'US GDP per capita with presidents and wars',
 'Standard abbreviations for states of the United States',
 'Number of Words in US Tax Law',
 'Medical Expenses in Viet-nam (household Level)',
 'Medical Expenses in Viet-nam (individual Level)',
 'Panel Datas of Individual Wages',
 'Wages, Experience and Schooling',
 'Wife Working Hours',
 'Yen-dollar Exchange Rate',
 'Choice of Brand for Yogurts',
 'Daily Log Returns on BMW Share Price',
 'Danish Fire Insurance Claims',
 'The River Nidd Data',

In [47]:
df['Doc']

0       DOC
1       DOC
2       DOC
3       DOC
4       DOC
       ...
1335    DOC
1336    DOC
1337    DOC
1338    DOC
1339    DOC
Name: Doc, Length: 1340, dtype: object

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 12 columns):
Package        1340 non-null object
Item           1340 non-null object
Title          1340 non-null object
Rows           1340 non-null int64
Cols           1340 non-null int64
n_binary       1340 non-null int64
n_character    1340 non-null int64
n_factor       1340 non-null int64
n_logical      1340 non-null int64
n_numeric      1340 non-null int64
CSV            1340 non-null object
Doc            1340 non-null object
dtypes: int64(7), object(5)
memory usage: 125.8+ KB

In [14]:
df[df['Title'].str.contains('product',case=False)]

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
95,carData,Sahlins,Agricultural Production in Mazulu Village,20,2,0,0,0,0,2,CSV,DOC
452,Ecdat,Metal,Production for SIC 33,27,3,0,0,0,0,3,CSV,DOC
459,Ecdat,Mpyr,"Money, National Product and Interest Rate",90,4,0,0,0,0,4,CSV,DOC
478,Ecdat,Produc,Us States Production,816,10,0,0,1,0,9,CSV,DOC
519,forecast,gas,Australian monthly gas production,476,2,0,0,0,0,2,CSV,DOC
523,forecast,woolyrnq,Quarterly production of woollen yarn in Australia,119,2,0,0,0,0,2,CSV,DOC
527,fpp2,ausbeer,Quarterly Australian Beer production,218,2,0,0,0,0,2,CSV,DOC
539,fpp2,gasoline,US finished motor gasoline product supplied.,1355,2,0,0,0,0,2,CSV,DOC
542,fpp2,guinearice,Rice production (Guinea),42,2,0,0,0,0,2,CSV,DOC
551,fpp2,oil,Annual oil production in Saudi Arabia,49,2,0,0,0,0,2,CSV,DOC
554,fpp2,qauselec,Quarterly Australian Electricity production,218,2,0,0,0,0,2,CSV,DOC
555,fpp2,qcement,Quarterly Australian Portland Cement production,233,2,0,0,0,0,2,CSV,DOC
556,fpp2,qgas,Quarterly Australian Gas Production,218,2,0,0,0,0,2,CSV,DOC
887,plm,Produc,US States Production,816,11,0,0,2,0,9,CSV,DOC
888,plm,RiceFarms,Production of Rice in Indonesia,1026,20,0,0,4,0,16,CSV,DOC
898,pscl,bioChemists,article production by graduate students in bio...,915,6,2,0,2,0,4,CSV,DOC
1191,Stat2Data,ResidualOil,US Residual Oil Production (Quarterly 1983-2016),136,5,0,0,0,0,5,CSV,DOC

In [25]:
df[df['Title'].str.match('Product')]

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
452,Ecdat,Metal,Production for SIC 33,27,3,0,0,0,0,3,CSV,DOC
888,plm,RiceFarms,Production of Rice in Indonesia,1026,20,0,0,4,0,16,CSV,DOC

In [26]:
df[df['Title'].str.contains('Product')]

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
95,carData,Sahlins,Agricultural Production in Mazulu Village,20,2,0,0,0,0,2,CSV,DOC
452,Ecdat,Metal,Production for SIC 33,27,3,0,0,0,0,3,CSV,DOC
459,Ecdat,Mpyr,"Money, National Product and Interest Rate",90,4,0,0,0,0,4,CSV,DOC
478,Ecdat,Produc,Us States Production,816,10,0,0,1,0,9,CSV,DOC
556,fpp2,qgas,Quarterly Australian Gas Production,218,2,0,0,0,0,2,CSV,DOC
887,plm,Produc,US States Production,816,11,0,0,2,0,9,CSV,DOC
888,plm,RiceFarms,Production of Rice in Indonesia,1026,20,0,0,4,0,16,CSV,DOC
1191,Stat2Data,ResidualOil,US Residual Oil Production (Quarterly 1983-2016),136,5,0,0,0,0,5,CSV,DOC

In [27]:
df[df['Title'].str.contains('Product',case=False)]

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
95,carData,Sahlins,Agricultural Production in Mazulu Village,20,2,0,0,0,0,2,CSV,DOC
452,Ecdat,Metal,Production for SIC 33,27,3,0,0,0,0,3,CSV,DOC
459,Ecdat,Mpyr,"Money, National Product and Interest Rate",90,4,0,0,0,0,4,CSV,DOC
478,Ecdat,Produc,Us States Production,816,10,0,0,1,0,9,CSV,DOC
519,forecast,gas,Australian monthly gas production,476,2,0,0,0,0,2,CSV,DOC
523,forecast,woolyrnq,Quarterly production of woollen yarn in Australia,119,2,0,0,0,0,2,CSV,DOC
527,fpp2,ausbeer,Quarterly Australian Beer production,218,2,0,0,0,0,2,CSV,DOC
539,fpp2,gasoline,US finished motor gasoline product supplied.,1355,2,0,0,0,0,2,CSV,DOC
542,fpp2,guinearice,Rice production (Guinea),42,2,0,0,0,0,2,CSV,DOC
551,fpp2,oil,Annual oil production in Saudi Arabia,49,2,0,0,0,0,2,CSV,DOC
554,fpp2,qauselec,Quarterly Australian Electricity production,218,2,0,0,0,0,2,CSV,DOC
555,fpp2,qcement,Quarterly Australian Portland Cement production,233,2,0,0,0,0,2,CSV,DOC
556,fpp2,qgas,Quarterly Australian Gas Production,218,2,0,0,0,0,2,CSV,DOC
887,plm,Produc,US States Production,816,11,0,0,2,0,9,CSV,DOC
888,plm,RiceFarms,Production of Rice in Indonesia,1026,20,0,0,4,0,16,CSV,DOC
898,pscl,bioChemists,article production by graduate students in bio...,915,6,2,0,2,0,4,CSV,DOC
1191,Stat2Data,ResidualOil,US Residual Oil Production (Quarterly 1983-2016),136,5,0,0,0,0,5,CSV,DOC

In [28]:
df[df['Title'].str.contains('Australian') | df['Item'].str.contains('gas')]

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
49,boot,wool,Australian Relative Wool Prices,309,2,0,0,0,0,2,CSV,DOC
143,DAAG,ais,Australian athletes data set,202,13,1,0,2,0,11,CSV,DOC
149,DAAG,aulatlong,Latitudes and longitudes for ten Australian ci...,10,2,0,0,0,0,2,CSV,DOC
150,DAAG,austpop,Population figures for Australian States and T...,9,10,0,0,0,0,10,CSV,DOC
152,DAAG,bomregions,Australian and Related Historical Annual Clima...,109,22,0,0,0,0,22,CSV,DOC
153,DAAG,bomregions2011,Australian and Related Historical Annual Clima...,112,22,0,0,0,0,22,CSV,DOC
154,DAAG,bomregions2012,Australian and Related Historical Annual Clima...,113,22,0,0,0,0,22,CSV,DOC
270,datasets,austres,Quarterly Time Series of the Number of Austral...,89,2,0,0,0,0,2,CSV,DOC
335,datasets,UKgas,UK Quarterly Gas Consumption,108,2,0,0,0,0,2,CSV,DOC
519,forecast,gas,Australian monthly gas production,476,2,0,0,0,0,2,CSV,DOC
522,forecast,wineind,Australian total wine sales,176,2,0,0,0,0,2,CSV,DOC
527,fpp2,ausbeer,Quarterly Australian Beer production,218,2,0,0,0,0,2,CSV,DOC
539,fpp2,gasoline,US finished motor gasoline product supplied.,1355,2,0,0,0,0,2,CSV,DOC
554,fpp2,qauselec,Quarterly Australian Electricity production,218,2,0,0,0,0,2,CSV,DOC
555,fpp2,qcement,Quarterly Australian Portland Cement production,233,2,0,0,0,0,2,CSV,DOC
556,fpp2,qgas,Quarterly Australian Gas Production,218,2,0,0,0,0,2,CSV,DOC
752,MASS,Aids2,Australian AIDS Survival Data,2843,7,2,0,4,0,3,CSV,DOC
897,pscl,AustralianElections,elections to Australian House of Representativ...,27,19,0,0,0,0,18,CSV,DOC
965,quantreg,gasprice,Time Series of US Gasoline Prices,695,2,0,0,0,0,2,CSV,DOC

In [64]:
df[(df['Rows'] > 1000) & (df['Cols'] > 10) & (df['Title'].str.contains('Product',case=False))]

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
888,plm,RiceFarms,Production of Rice in Indonesia,1026,20,0,0,4,0,16,CSV,DOC

In [65]:
new_df = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/plm/RiceFarms.csv')

In [68]:
new_df

,Unnamed: 0,id,size,status,varieties,bimas,seed,urea,phosphate,pesticide,...,purea,pphosph,hiredlabor,famlabor,totlabor,wage,goutput,noutput,price,region
0,1,101001,3.000,owner,mixed,mixed,90,900,80,6000,...,75.0,75.0,2875,40,2915,68.49,7980,6800,60.0,wargabinangun
1,2,101001,2.000,owner,trad,mixed,40,600,0,3000,...,75.0,75.0,2110,45,2155,60.09,4083,3500,60.0,wargabinangun
2,3,101001,1.000,owner,high,mixed,100,700,150,5000,...,70.0,70.0,980,95,1075,51.99,2650,2242,65.0,wargabinangun
3,4,101001,2.000,owner,high,mixed,60,600,100,5000,...,70.0,70.0,2081,10,2091,56.98,4500,3750,70.0,wargabinangun
4,5,101001,3.572,share,high,no,105,400,400,10200,...,80.0,80.0,3889,1,3889,152.03,16300,13584,120.0,wargabinangun
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1021,1022,609245,0.200,owner,trad,mixed,7,70,30,0,...,80.0,80.0,130,90,220,53.85,710,640,70.0,ciwangi
1022,1023,609245,0.286,owner,trad,mixed,8,85,20,300,...,70.0,70.0,90,151,241,57.22,650,600,70.0,ciwangi
1023,1024,609245,0.286,owner,trad,yes,8,70,25,0,...,73.0,75.0,170,72,242,59.41,645,600,80.0,ciwangi
1024,1025,609245,0.786,mixed,mixed,yes,22,158,90,0,...,90.0,90.0,630,311,941,152.38,3760,3400,120.0,ciwangi
1025,1026,609245,0.501,mixed,trad,yes,14,93,45,0,...,90.0,90.0,445,261,706,159.66,2750,2500,135.0,ciwangi

In [102]:
new_df.sample(n=10) #, replace=True, random_state=0, weights='wage'

,Unnamed: 0,id,size,status,varieties,bimas,seed,urea,phosphate,pesticide,...,purea,pphosph,hiredlabor,famlabor,totlabor,wage,goutput,noutput,price,region
897,898,605109,0.366,mixed,trad,yes,115,100,50,0,...,73.0,73.0,250,225,475,50.00,900,870,90.0,ciwangi
709,710,501045,0.211,owner,mixed,no,8,50,50,270,...,80.0,80.0,60,142,202,41.67,500,500,70.0,sukaambit
922,923,606147,0.179,owner,high,no,9,50,25,8350,...,90.0,100.0,140,115,255,146.43,960,900,120.0,ciwangi
82,83,102113,1.428,owner,high,no,60,350,150,12600,...,80.0,80.0,1054,131,1185,148.10,5800,4850,120.0,wargabinangun
648,649,402176,0.286,owner,trad,mixed,6,50,50,250,...,80.0,80.0,175,93,268,32.77,1000,900,50.0,malausma
650,651,402176,0.142,owner,trad,mixed,5,25,25,0,...,70.0,70.0,14,112,126,70.57,500,465,56.0,malausma
678,679,501001,0.346,owner,trad,mixed,10,40,15,425,...,80.0,80.0,50,137,187,54.62,600,550,60.0,sukaambit
72,73,102111,0.714,owner,high,no,20,100,0,0,...,80.0,80.0,425,58,483,46.30,1500,1300,60.0,wargabinangun
175,176,204114,0.280,owner,trad,mixed,8,25,0,0,...,80.0,80.0,120,12,132,43.33,360,300,55.0,langan
170,171,204096,3.590,owner,high,mixed,210,1000,100,3200,...,70.0,70.0,2374,1462,3836,36.78,12100,10200,70.0,langan

In [66]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1026 entries, 0 to 1025
Data columns (total 21 columns):
Unnamed: 0    1026 non-null int64
id            1026 non-null int64
size          1026 non-null float64
status        1026 non-null object
varieties     1026 non-null object
bimas         1026 non-null object
seed          1026 non-null int64
urea          1026 non-null int64
phosphate     1026 non-null int64
pesticide     1026 non-null int64
pseed         1026 non-null float64
purea         1026 non-null float64
pphosph       1026 non-null float64
hiredlabor    1026 non-null int64
famlabor      1026 non-null int64
totlabor      1026 non-null int64
wage          1026 non-null float64
goutput       1026 non-null int64
noutput       1026 non-null int64
price         1026 non-null float64
region        1026 non-null object
dtypes: float64(6), int64(11), object(4)
memory usage: 168.5+ KB

In [67]:
new_df.shape

(1026, 21)

In [69]:
new_df.describe()

,Unnamed: 0,id,size,seed,urea,phosphate,pesticide,pseed,purea,pphosph,hiredlabor,famlabor,totlabor,wage,goutput,noutput,price
count,1026.000000,1026.000000,1026.000000,1026.000000,1026.000000,1026.000000,1026.000000,1026.000000,1026.000000,1026.000000,1026.000000,1026.000000,1026.000000,1026.000000,1026.000000,1026.000000,1026.000000
mean,513.500000,374954.116959,0.431597,18.205653,95.440546,33.728070,595.004873,112.071598,78.979532,79.567739,237.023392,151.469786,388.447368,80.423275,1405.166667,1240.920078,90.961404
std,296.324991,164378.930505,0.546780,45.250820,127.149226,47.588061,2927.580992,64.279795,8.674188,9.271885,422.232593,148.115642,484.203777,42.188804,1921.756965,1638.983418,37.495010
min,1.000000,101001.000000,0.010000,1.000000,1.000000,0.000000,0.000000,40.000000,50.000000,60.000000,1.000000,1.000000,17.000000,30.000000,42.000000,42.000000,50.000000
25%,257.250000,209250.000000,0.143000,5.000000,25.000000,8.000000,0.000000,70.000000,70.000000,70.000000,36.000000,69.000000,144.000000,49.375000,420.000000,380.000000,60.500000
50%,513.500000,401037.000000,0.286000,10.000000,60.000000,20.000000,0.000000,81.000000,80.000000,80.000000,112.000000,111.000000,252.000000,57.140000,886.500000,800.000000,75.000000
75%,769.750000,504162.000000,0.500000,20.000000,100.000000,50.000000,265.000000,150.000000,85.000000,85.000000,260.000000,185.000000,435.000000,128.750000,1606.000000,1443.750000,120.000000
max,1026.000000,609245.000000,5.322000,1250.000000,1250.000000,700.000000,62600.000000,375.000000,100.000000,120.000000,4536.000000,1526.000000,4774.000000,175.350000,20960.000000,17610.000000,190.000000

In [70]:
new_df[new_df['price'] == new_df['price'].max()]

,Unnamed: 0,id,size,status,varieties,bimas,seed,urea,phosphate,pesticide,...,purea,pphosph,hiredlabor,famlabor,totlabor,wage,goutput,noutput,price,region
263,264,301004,0.429,owner,trad,no,19,150,50,500,...,85.0,85.0,425,156,581,146.35,1900,1728,190.0,gunungwangi
269,270,301010,0.014,owner,trad,no,1,5,5,0,...,85.0,85.0,1,17,17,140.00,42,42,190.0,gunungwangi
275,276,301023,0.179,share,trad,no,5,40,0,0,...,85.0,85.0,30,96,126,140.00,493,448,190.0,gunungwangi
293,294,301058,0.193,mixed,trad,no,10,70,35,0,...,85.0,85.0,49,231,280,132.04,559,520,190.0,gunungwangi
299,300,301067,0.604,owner,trad,no,25,155,30,0,...,85.0,85.0,330,103,433,138.79,1978,1798,190.0,gunungwangi
305,306,301070,0.030,owner,trad,no,1,8,2,0,...,90.0,90.0,5,35,40,140.00,115,105,190.0,gunungwangi
311,312,301075,0.510,owner,trad,no,15,100,50,0,...,85.0,85.0,230,151,381,138.26,2528,2304,190.0,gunungwangi
317,318,301084,0.557,owner,trad,no,18,115,15,0,...,85.0,85.0,465,82,547,141.53,1092,992,190.0,gunungwangi
323,324,301105,0.043,owner,trad,no,2,12,3,0,...,85.0,85.0,85,37,122,134.12,141,128,190.0,gunungwangi
335,336,302116,0.636,owner,trad,no,28,205,35,0,...,85.0,85.0,456,262,718,125.88,2218,2016,190.0,gunungwangi
341,342,302120,0.080,owner,trad,no,3,20,5,0,...,90.0,90.0,1,165,165,130.50,192,192,190.0,gunungwangi
347,348,302131,0.070,owner,trad,no,3,35,15,0,...,85.0,85.0,16,142,158,122.50,282,256,190.0,gunungwangi
353,354,302134,0.428,mixed,trad,no,12,115,30,0,...,85.0,90.0,220,140,360,140.91,1373,1248,190.0,gunungwangi
359,360,302137,0.107,owner,trad,no,5,40,10,0,...,85.0,85.0,34,114,148,118.82,317,288,190.0,gunungwangi
365,366,302142,0.221,owner,trad,no,5,56,19,0,...,90.0,90.0,1,111,111,130.50,416,416,190.0,gunungwangi
377,378,302144,1.071,owner,trad,no,35,300,100,0,...,85.0,85.0,370,315,685,138.38,3872,3520,190.0,gunungwangi
383,384,302146,0.424,owner,trad,no,18,130,20,0,...,85.0,90.0,98,258,356,138.57,1364,1289,190.0,gunungwangi
389,390,302147,0.129,owner,trad,no,5,20,10,0,...,90.0,95.0,1,144,144,130.50,256,256,190.0,gunungwangi
395,396,302151,0.350,owner,trad,no,16,100,50,0,...,86.0,86.0,121,144,265,168.55,1267,1152,190.0,gunungwangi
401,402,302153,0.818,mixed,trad,no,23,107,31,0,...,85.0,85.0,660,470,1130,129.09,2542,2311,190.0,gunungwangi
407,408,302161,0.175,share,trad,no,6,40,20,0,...,85.0,85.0,114,208,322,132.37,990,900,190.0,gunungwangi
413,414,302163,0.070,owner,trad,no,3,15,5,0,...,85.0,85.0,7,53,60,151.43,175,160,190.0,gunungwangi
419,420,302169,0.358,mixed,trad,no,14,80,20,0,...,90.0,90.0,130,223,353,140.77,1250,1164,190.0,gunungwangi
425,426,302182,0.358,mixed,trad,no,10,100,24,0,...,85.0,90.0,185,192,377,130.00,1227,1116,190.0,gunungwangi
431,432,302189,0.724,owner,trad,no,27,150,10,0,...,85.0,90.0,505,154,659,157.03,2391,2176,190.0,gunungwangi
437,438,302192,0.179,owner,trad,no,4,20,20,0,...,85.0,85.0,20,95,115,130.00,634,576,190.0,gunungwangi
443,444,302194,0.536,mixed,trad,no,15,160,50,0,...,90.0,90.0,210,232,442,119.05,2070,1920,190.0,gunungwangi
449,450,302195,0.339,mixed,trad,no,15,150,40,0,...,85.0,85.0,176,244,420,136.14,1492,1356,190.0,gunungwangi
455,456,302197,0.714,owner,trad,no,20,250,50,2500,...,90.0,90.0,351,110,461,140.80,2464,2240,190.0,gunungwangi
461,462,302199,1.036,owner,trad,no,30,360,240,2200,...,85.0,85.0,510,100,610,142.68,4400,4000,190.0,gunungwangi
467,468,302205,0.923,mixed,trad,no,25,265,55,0,...,85.0,90.0,460,310,770,131.96,2922,2656,190.0,gunungwangi
473,474,302207,0.566,owner,trad,no,17,110,33,0,...,85.0,85.0,330,232,562,130.30,2154,1958,190.0,gunungwangi
479,480,302209,0.357,owner,trad,no,14,125,25,0,...,85.0,85.0,160,196,356,141.25,1146,1056,190.0,gunungwangi