In [1]:
# widget adds a little interactivity
%matplotlib widget
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../Real_Estate_Sales_2001-2017.csv')

In [3]:
# What is the average value by PropertyType ?
averages = df.groupby(['PropertyType']).mean().reset_index()
averages

,PropertyType,ID,SerialNumber,ListYear,AssessedValue,SaleAmount,SalesRatio
0,10 Mill Forest,405484.545455,59176.363636,2010.000000,8.315909e+04,1.830160e+05,0.501271
1,Apartments,417406.913935,117574.397210,2008.322911,8.732501e+05,1.198831e+06,1836.996471
2,Commercial,393078.379084,101290.685512,2008.226458,1.485650e+06,1.042632e+06,2694.755727
3,Condo,402198.107112,69686.820822,2005.304917,1.290439e+05,2.142420e+05,336.522156
4,Industrial,374978.978713,86195.514949,2007.852188,7.285687e+05,9.971568e+05,86.362072
5,Public Utility,401877.602837,75075.773050,2005.581560,5.835741e+05,2.227996e+05,205.041414
6,Residential,411161.215243,116144.051129,2007.890536,2.219131e+05,3.519694e+05,823.361179
7,Vacant Land,395270.531517,92476.796272,2005.822008,1.110980e+05,1.983576e+05,333.556047

In [6]:
fig, ax = plt.subplots(2,3) # use subplots() if only 1 plot. Here we get a grid of 6 plots 2 rows, 3 columns
ax[0,0].bar(averages['PropertyType'],averages['SaleAmount'])

# averages['SaleAmount'].plot(ax=ax[0,0]) by passing the axes object to dataframe

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦