In [1]:
# widget & notebook adds a little interactivity. widget for jupyterlab
%matplotlib widget
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../Real_Estate_Sales_2001-2017.csv')

In [3]:
# What is the average value by PropertyType ?
averages = df.groupby(['PropertyType']).mean().reset_index()
averages

,PropertyType,ID,SerialNumber,ListYear,AssessedValue,SaleAmount,SalesRatio
0,10 Mill Forest,405484.545455,59176.363636,2010.000000,8.315909e+04,1.830160e+05,0.501271
1,Apartments,417406.913935,117574.397210,2008.322911,8.732501e+05,1.198831e+06,1836.996471
2,Commercial,393078.379084,101290.685512,2008.226458,1.485650e+06,1.042632e+06,2694.755727
3,Condo,402198.107112,69686.820822,2005.304917,1.290439e+05,2.142420e+05,336.522156
4,Industrial,374978.978713,86195.514949,2007.852188,7.285687e+05,9.971568e+05,86.362072
5,Public Utility,401877.602837,75075.773050,2005.581560,5.835741e+05,2.227996e+05,205.041414
6,Residential,411161.215243,116144.051129,2007.890536,2.219131e+05,3.519694e+05,823.361179
7,Vacant Land,395270.531517,92476.796272,2005.822008,1.110980e+05,1.983576e+05,333.556047

In [4]:
fig, ax = plt.subplots(2,3) # use subplots() if only 1 plot. Here we get a grid of 6 plots 2 rows, 3 columns
ax[0,0].bar(averages['PropertyType'],averages['SaleAmount'])

# averages['SaleAmount'].plot(ax=ax[0,0]) by passing the axes object to dataframe

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

# Area Charts (Stacked, unstacked)
- Total (cumulative) Sales by property type by year

In [5]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)
df_group_by_year_type = df.groupby(['ListYear','PropertyType'])['SaleAmount'].sum()
df_group_by_year_type = df_group_by_year_type.unstack()
df_group_by_year_type

PropertyType,10 Mill Forest,Apartments,Commercial,Condo,Industrial,Public Utility,Residential,Vacant Land
ListYear,,,,,,,,
2001,nan,84134667.00,992647682.00,1727329629.00,110881214.00,3337500.00,10292336632.00,731582582.00
2002,nan,173458888.00,2620793658.00,3502344521.00,312087044.00,1008980.00,23039620182.00,1315886218.00
2003,nan,233792244.00,1509310933.00,2399230874.00,242592030.00,3374455.00,14307412640.00,866979277.00
2004,nan,525431474.00,3136973105.00,3701180525.00,348731136.00,1023150.00,21365943639.00,1293687291.00
2005,nan,538024771.00,1771749852.00,3012840091.00,329840810.00,4554201.00,14640287052.00,698987050.00
2006,nan,264420214.00,2680736446.00,2471250971.00,500998324.00,3291346.00,15092031995.40,692253055.00
2007,nan,356939544.00,1712254341.00,1638705239.00,281066477.00,425400.00,10035791189.00,379838806.00
2008,nan,160604489.00,721711977.00,1318872502.00,121135819.00,1074125.00,7252711757.00,394758055.00
2009,nan,133697593.00,905106986.00,1777667945.00,217349744.00,486441.00,10799642347.00,318329851.00
2010,1830160.00,178089992.00,970332557.00,988142098.00,113871886.00,455000.00,6016140810.00,220408699.00
2011,nan,151351313.00,1095958086.00,1137958859.00,129047809.00,168710.00,8479742338.00,261946309.00
2012,nan,235246179.00,1260819550.00,nan,85464459.00,nan,9583169472.22,19835201.00
2013,nan,556425347.00,2521532124.00,1626243556.00,140914881.00,770000.00,9797170751.00,329722501.00
2014,nan,421386112.00,2728783726.00,nan,259780854.00,1048720.00,14987075293.67,384400967.00
2015,nan,561932935.00,2008758896.00,nan,277971679.00,715000.00,11717404865.00,343740097.00
2016,nan,2104951096.00,3964814329.00,nan,226720473.00,7899319.00,17208485306.00,396630137.00

In [6]:
cum_sales_year_type = df_group_by_year_type.fillna(0).cumsum()
cum_sales_year_type

PropertyType,10 Mill Forest,Apartments,Commercial,Condo,Industrial,Public Utility,Residential,Vacant Land
ListYear,,,,,,,,
2001,0.00,84134667.00,992647682.00,1727329629.00,110881214.00,3337500.00,10292336632.00,731582582.00
2002,0.00,257593555.00,3613441340.00,5229674150.00,422968258.00,4346480.00,33331956814.00,2047468800.00
2003,0.00,491385799.00,5122752273.00,7628905024.00,665560288.00,7720935.00,47639369454.00,2914448077.00
2004,0.00,1016817273.00,8259725378.00,11330085549.00,1014291424.00,8744085.00,69005313093.00,4208135368.00
2005,0.00,1554842044.00,10031475230.00,14342925640.00,1344132234.00,13298286.00,83645600145.00,4907122418.00
2006,0.00,1819262258.00,12712211676.00,16814176611.00,1845130558.00,16589632.00,98737632140.40,5599375473.00
2007,0.00,2176201802.00,14424466017.00,18452881850.00,2126197035.00,17015032.00,108773423329.40,5979214279.00
2008,0.00,2336806291.00,15146177994.00,19771754352.00,2247332854.00,18089157.00,116026135086.40,6373972334.00
2009,0.00,2470503884.00,16051284980.00,21549422297.00,2464682598.00,18575598.00,126825777433.40,6692302185.00
2010,1830160.00,2648593876.00,17021617537.00,22537564395.00,2578554484.00,19030598.00,132841918243.40,6912710884.00
2011,1830160.00,2799945189.00,18117575623.00,23675523254.00,2707602293.00,19199308.00,141321660581.40,7174657193.00
2012,1830160.00,3035191368.00,19378395173.00,23675523254.00,2793066752.00,19199308.00,150904830053.62,7194492394.00
2013,1830160.00,3591616715.00,21899927297.00,25301766810.00,2933981633.00,19969308.00,160702000804.62,7524214895.00
2014,1830160.00,4013002827.00,24628711023.00,25301766810.00,3193762487.00,21018028.00,175689076098.29,7908615862.00
2015,1830160.00,4574935762.00,26637469919.00,25301766810.00,3471734166.00,21733028.00,187406480963.29,8252355959.00
2016,1830160.00,6679886858.00,30602284248.00,25301766810.00,3698454639.00,29632347.00,204614966269.29,8648986096.00

In [7]:
fig, ax = plt.subplots()
cum_sales_year_type.plot.area(title="Total Sales by year by type", ax=ax)
fig.tight_layout() # Sometimes legends get cut off , hence we tighten so that everything fits

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

- In the above graph, we can't clearly compare red and green, because all of them are stacked vs. overlapped
- To fix this we have to unstack them (and then for aesthetics can add a grid)

In [8]:
fig, ax = plt.subplots()
cum_sales_year_type.plot.area(title="Total Sales by year by type", ax=ax, stacked=False, grid=True) # Observe that colors lighten/transparent
fig.tight_layout() # Sometimes legends get cut off , hence we tighten so that everything fits

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

- Now I want cumulative sales by total year on the same graph - to be able to compare yearly sales with each type

In [9]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)
df_group_by_year = df.groupby(['ListYear'])['SaleAmount'].sum().cumsum()
df_group_by_year

ListYear
2001    13976268335.00
2002    44960121556.00
2003    64532874349.00
2004    94910820172.00
2005   115907103999.00
2006   137612086350.40
2007   152017107346.40
2008   161987976070.40
2009   176140256977.40
2010   184641618343.40
2011   195897791767.40
2012   209239810206.62
2013   224212589366.62
2014   242995065039.29
2015   257905588511.29
2016   281815089171.29
2017   299783874974.29
Name: SaleAmount, dtype: float64

In [10]:
fig, ax = plt.subplots()
ax.ticklabel_format(style='plain') # The style=plain disables scientific notation on y axis
# Plot cumsum by year first with a line on the ax layout
df_group_by_year.plot(ax=ax, style='b--', legend=True, label="Total Yearly")

# Now area plot by year by type on the same ax layout
cum_sales_year_type.plot.area(title="Total Sales by year by type", ax=ax, stacked=False, grid=True) # Observe that colors lighten/transparent
fig.tight_layout() # Sometimes legends get cut off , hence we tighten so that everything fits

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

# Bar Charts (stacked & unstacked)

In [11]:
# Easiest way without using matplotlib object oriented
averages = df.groupby(['PropertyType']).mean().reset_index()
ax = averages.plot.bar(title='Average sale by Property Type',x='PropertyType',y=['AssessedValue','SaleAmount'])

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [12]:
# Easiest way without using matplotlib object oriented and stacking them
fig, ax = plt.subplots()
averages = df.groupby(['PropertyType']).mean().reset_index()
ax = averages.plot.bar(ax=ax, title='Average sale by Property Type',x='PropertyType',y=['AssessedValue','SaleAmount'], stacked=True)
fig.tight_layout()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

### Learning: Area charts are stacked by default, whereas bar charts are NOT

# Lets try another example

In [15]:
df_by_year_type = df.groupby(['ListYear','PropertyType']).size().unstack()
df_by_year_type = df_by_year_type.fillna(0)
df_by_year_type

PropertyType,10 Mill Forest,Apartments,Commercial,Condo,Industrial,Public Utility,Residential,Vacant Land
ListYear,,,,,,,,
2001,0.00,278.00,1852.00,11535.00,209.00,16.00,40001.00,5587.00
2002,0.00,399.00,3519.00,19511.00,435.00,19.00,73456.00,8657.00
2003,0.00,485.00,1888.00,12424.00,309.00,25.00,44419.00,4644.00
2004,0.00,723.00,2767.00,16804.00,379.00,12.00,57421.00,5905.00
2005,0.00,489.00,1993.00,13356.00,291.00,16.00,41988.00,3469.00
2006,0.00,216.00,1860.00,9583.00,309.00,11.00,33698.00,3098.00
2007,0.00,182.00,1421.00,6538.00,250.00,4.00,25288.00,1933.00
2008,0.00,141.00,973.00,6004.00,155.00,7.00,24099.00,1355.00
2009,0.00,199.00,1309.00,7845.00,179.00,6.00,31178.00,1792.00
2010,11.00,194.00,1163.00,4699.00,143.00,3.00,20194.00,1278.00
2011,0.00,139.00,1288.00,5151.00,160.00,6.00,22874.00,1447.00
2012,0.00,1406.00,5645.00,0.00,599.00,0.00,24959.00,116.00
2013,0.00,274.00,1504.00,7078.00,186.00,3.00,29226.00,1672.00
2014,0.00,304.00,1765.00,0.00,226.00,7.00,45461.00,1800.00
2015,0.00,323.00,1697.00,0.00,178.00,3.00,42777.00,1673.00
2016,0.00,197.00,1618.00,0.00,173.00,3.00,45852.00,1930.00

In [16]:
fig, ax = plt.subplots()
ax = df_by_year_type.plot.bar(ax=ax, title='Count Share by Year by Type', stacked=True)
fig.tight_layout()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [17]:
fig, ax = plt.subplots()
ax = df_by_year_type.plot.bar(ax=ax, title='Count Share by Year by Type')
fig.tight_layout()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

# Stacked Bar Chart (using seaborn)

In [18]:
from matplotlib.colors import ListedColormap
import seaborn as sns
sns.set()
ax = df.groupby(['ListYear','PropertyType']).size().unstack().plot(kind='bar', stacked=True,colormap=ListedColormap(sns.color_palette("muted")), 
          figsize=(20,15))

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦