# Use contextual style (not the whole notebook style)

In [1]:
# widget & notebook adds a little interactivity. widget for jupyterlab
%matplotlib widget
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('../Real_Estate_Sales_2001-2017.csv')
pd.set_option('display.float_format', lambda x: '%.2f' % x)
averages = df.groupby(['PropertyType']).mean().reset_index()
averages

,PropertyType,ID,SerialNumber,ListYear,AssessedValue,SaleAmount,SalesRatio
0,10 Mill Forest,405484.55,59176.36,2010.00,83159.09,183016.00,0.50
1,Apartments,417406.91,117574.40,2008.32,873250.07,1198831.09,1837.00
2,Commercial,393078.38,101290.69,2008.23,1485650.17,1042631.74,2694.76
3,Condo,402198.11,69686.82,2005.30,129043.90,214242.01,336.52
4,Industrial,374978.98,86195.51,2007.85,728568.65,997156.82,86.36
5,Public Utility,401877.60,75075.77,2005.58,583574.14,222799.60,205.04
6,Residential,411161.22,116144.05,2007.89,221913.09,351969.43,823.36
7,Vacant Land,395270.53,92476.80,2005.82,111097.98,198357.59,333.56

In [3]:
with plt.style.context('classic'):
    fig, ax = plt.subplots()
    averages.plot(ax=ax, figsize=(5,5))

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [6]:
# https://matplotlib.org/1.5.3/api/pyplot_api.html#matplotlib.pyplot.plot
with plt.style.context('fivethirtyeight'):
    fig, ax = plt.subplots()
    averages.plot(ax=ax, figsize=(5,5), style={'AssessedValue':'--v', 'SaleAmount':':s'})

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [2]:
# BEST PRACTICE
# if null values are there in columns, they will not be aligned, so you have to apply style to each line separately
styles={'AssessedValue':'--v', 'SaleAmount':':s'}
with plt.style.context('fivethirtyeight'):
    fig, ax = plt.subplots()
    for column in styles:
        averages[column].dropna().plot(ax=ax, figsize=(5,5), style=styles)

fig.suptitle("Trend of various", fontweight="bold")
ax.set_title("General plotting",  fontstyle="italic", fontsize="8")
ax.set_ylabel("whatever")
ax.grid(True)
fig.tight_layout()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

https://matplotlib.org/3.1.1/tutorials/introductory/customizing.html