# References
- https://python.langchain.com/docs/use_cases/tabular
- SQL querying requires lot of GPU to process

In [ ]:
import sys
sys.version_info

In [ ]:
!pip3 install langchain==0.0.242
!pip3 install chromadb==0.4.2

In [13]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

df = pd.read_csv("https://vincentarelbundock.github.io/Rdatasets/csv/ggplot2movies/movies.csv")
df.drop(columns=["Unnamed: 0"],inplace=True,axis=1)
df.to_csv("movies.csv")
df

,title,year,length,budget,rating,votes,r1,r2,r3,r4,...,r9,r10,mpaa,Action,Animation,Comedy,Drama,Documentary,Romance,Short
0,$,1971,121,NaN,6.4,348,4.5,4.5,4.5,4.5,...,4.5,4.5,NaN,0,0,1,1,0,0,0
1,$1000 a Touchdown,1939,71,NaN,6.0,20,0.0,14.5,4.5,24.5,...,4.5,14.5,NaN,0,0,1,0,0,0,0
2,$21 a Day Once a Month,1941,7,NaN,8.2,5,0.0,0.0,0.0,0.0,...,24.5,24.5,NaN,0,1,0,0,0,0,1
3,"$40,000",1996,70,NaN,8.2,6,14.5,0.0,0.0,0.0,...,34.5,45.5,NaN,0,0,1,0,0,0,0
4,"$50,000 Climax Show, The",1975,71,NaN,3.4,17,24.5,4.5,0.0,14.5,...,0.0,24.5,NaN,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58783,tom thumb,1958,98,NaN,6.5,274,4.5,4.5,4.5,4.5,...,4.5,4.5,NaN,0,1,0,0,0,0,0
58784,www.XXX.com,2003,105,NaN,1.1,12,45.5,0.0,0.0,0.0,...,0.0,24.5,NaN,0,0,0,1,0,1,0
58785,www.hellssoapopera.com,1999,100,NaN,6.6,5,24.5,0.0,24.5,0.0,...,24.5,44.5,NaN,0,0,0,0,0,0,0
58786,xXx,2002,132,85000000.0,5.5,18514,4.5,4.5,4.5,4.5,...,4.5,4.5,PG-13,1,0,0,0,0,0,0
58787,xXx: State of the Union,2005,101,87000000.0,3.9,1584,24.5,4.5,4.5,4.5,...,4.5,14.5,PG-13,1,0,0,0,0,0,0

In [ ]:
from langchain.document_loaders.csv_loader import CSVLoader

loader = CSVLoader(file_path='txhousing.csv')
loader = CSVLoader(file_path='movies.csv', csv_args={
    'delimiter': ',',
    'quotechar': '"'
})

data = loader.load()
data

In [19]:
from langchain.text_splitter import CharacterTextSplitter

text_splitter = CharacterTextSplitter(chunk_size=1000, chunk_overlap=0)
texts = text_splitter.split_documents(data)

## sqlite db
- https://github.com/lerocha/chinook-database/blob/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite

In [24]:
import sqlite3
from sqlite3 import Error

conn = sqlite3.connect("chinook.db")
cursor_object = conn.cursor()

with open('Chinook_Sqlite.sql', 'r') as sql_file:
    sql_script = sql_file.read()

cursor_object.executescript(sql_script)

In [27]:
cur = conn.cursor()
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
rows = cur.fetchall()
for row in rows:
    print(row)

('Album',)
('Artist',)
('Customer',)
('Employee',)
('Genre',)
('Invoice',)
('InvoiceLine',)
('MediaType',)
('Playlist',)
('PlaylistTrack',)
('Track',)

In [30]:
cur.execute("SELECT count(*) from Employee;")
rows = cur.fetchall()
for row in rows:
    print(row)

(8,)

In [28]:
from langchain import OpenAI, SQLDatabase, SQLDatabaseChain
from langchain.llms import GPT4All

db = SQLDatabase.from_uri("sqlite:///chinook.db")
llm = GPT4All(model="/home/ubuntu/Downloads/orca-mini-3b.ggmlv3.q4_0.bin",max_tokens=2048)

Found model file at  /home/ubuntu/Downloads/orca-mini-3b.ggmlv3.q4_0.bin

llama.cpp: loading model from /home/ubuntu/Downloads/orca-mini-3b.ggmlv3.q4_0.bin
llama_model_load_internal: format     = ggjt v3 (latest)
llama_model_load_internal: n_vocab    = 32000
llama_model_load_internal: n_ctx      = 2048
llama_model_load_internal: n_embd     = 3200
llama_model_load_internal: n_mult     = 240
llama_model_load_internal: n_head     = 32
llama_model_load_internal: n_layer    = 26
llama_model_load_internal: n_rot      = 100
llama_model_load_internal: ftype      = 2 (mostly Q4_0)
llama_model_load_internal: n_ff       = 8640
llama_model_load_internal: n_parts    = 1
llama_model_load_internal: model size = 3B
llama_model_load_internal: ggml ctx size =    0.06 MB
llama_model_load_internal: mem required  = 2862.72 MB (+  682.00 MB per state)
llama_new_context_with_model: kv self size  =  650.00 MB

In [ ]:
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, use_query_checker=True) #top_k=2 for limiting
db_chain.run("How many employees are there?")

## Try with openai
- Need to have $20 subscription plan for this

In [ ]:
from langchain import OpenAI, SQLDatabase, SQLDatabaseChain
from langchain.llms import GPT4All

db = SQLDatabase.from_uri("sqlite:///chinook.db")
llm = OpenAI(temperature=0, verbose=True, openai_api_key="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")

db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)
db_chain.run("How many employees are there?")