In [1]:
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
# https://spark.apache.org/docs/latest/api/python/pyspark.html#pyspark.SparkConf
config = SparkConf()
config.set("spark.driver.memory", "2g")
config.set("spark.executor.memory", "1g")
spark = SparkSession.builder.config(conf=config).master("local").appName("Analyzing Real Estate Sales").getOrCreate()

In [2]:
df = spark.read.format('csv').option("header", "true").load('../Real_Estate_Sales_2001-2017.csv')

# Spark dataframe to pandas

In [3]:
# https://spark.apache.org/docs/latest/sql-pyspark-pandas-with-arrow.html
import numpy as np
import pandas as pd

# Enable Arrow-based columnar data transfers
spark.conf.set("spark.sql.execution.arrow.enabled", "true")
pandas_df = df.select("*").toPandas()
pandas_df

,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
0,815906,170177,2017,04/05/1999 12:00:00 AM,New London,293 PEQUOT AVE,132440,252500,0.525,None,Two Family,None,None
1,2,900035,2009,07/20/2010 12:00:00 AM,Andover,1 DOGWOOD DRIVE,55600,99000,0.561616161616162,Vacant Land,NA,NA,NA
2,3,14011,2014,01/14/2015 12:00:00 AM,Andover,1 JUROVATY LANE,153100,190000,0.805789474,Residential,Single Family,NA,NA
3,4,80009,2008,01/21/2009 12:00:00 AM,Andover,1 ROSE LANE,116600,138900,0.839452843772498,Residential,Single Family,NA,NA
4,5,15006,2015,11/30/2015 12:00:00 AM,Andover,1 ROSE LANE,102900,50000,2.058,Residential,Single Family,14 - Foreclosure,PROPERTY WAS OWNED BY THE BANK
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861592,610215,162032,2016,09/20/2017 12:00:00 AM,Stamford,143 ALTON ROAD,226120,480000,0.471083333,Residential,Single Family,NA,NA
861593,79276,150686,2015,07/29/2016 12:00:00 AM,Bristol,71-79 MEADOW ST,263620,530000,0.497396226,Commercial,NA,NA,NA
861594,731402,70105,2007,03/10/2008 12:00:00 AM,Watertown,116 PINE RIDGE DR,62500,385000,0.162337662337662,Residential,Single Family,7,NA
861595,734206,10411,2001,09/23/2002 12:00:00 AM,Watertown,56 COLONIAL ST,95800,189900,50.4476040021064,Residential,Three Family,3,NA
861596,524390,40319,2004,07/18/2005 12:00:00 AM,Plainville,300 CAMP ST,179050,396500,45.1576292559899,Residential,Single Family,0,NA

# Pandas to spark df

In [5]:
spark.conf.set("spark.sql.execution.arrow.enabled", "false")
df = spark.createDataFrame(pandas_df)
df.show()

+------+------------+--------+--------------------+----------+--------------------+-------------+----------+-----------------+------------+---------------+----------------+--------------------+
|    ID|SerialNumber|ListYear|        DateRecorded|      Town|             Address|AssessedValue|SaleAmount|       SalesRatio|PropertyType|ResidentialType|      NonUseCode|             Remarks|
+------+------------+--------+--------------------+----------+--------------------+-------------+----------+-----------------+------------+---------------+----------------+--------------------+
|815906|      170177|    2017|04/05/1999 12:00:...|New London|      293 PEQUOT AVE|       132440|    252500|            0.525|        null|     Two Family|            null|                null|
|     2|      900035|    2009|07/20/2010 12:00:...|   Andover|     1 DOGWOOD DRIVE|        55600|     99000|0.561616161616162| Vacant Land|             NA|              NA|                  NA|
|     3|       14011|    2014|01/14/2015 12:00:...|   Andover|     1 JUROVATY LANE|       153100|    190000|      0.805789474| Residential|  Single Family|              NA|                  NA|
|     4|       80009|    2008|01/21/2009 12:00:...|   Andover|         1 ROSE LANE|       116600|    138900|0.839452843772498| Residential|  Single Family|              NA|                  NA|
|     5|       15006|    2015|11/30/2015 12:00:...|   Andover|         1 ROSE LANE|       102900|     50000|            2.058| Residential|  Single Family|14 - Foreclosure|PROPERTY WAS OWNE...|
|     6|       20030|    2002|04/24/2003 12:00:...|   Andover|       10 BAUSOLA RD|        91800|    189900| 48.3412322274881| Residential|  Single Family|               0|                  NA|
|815907|      173165|    2017|08/01/2001 12:00:...|   Shelton|        28 SUNSET DR|       126980|    238000|            0.534|        null|  Single Family|            null|                null|
|     8|       30047|    2003|04/19/2004 12:00:...|   Andover|  10 CHESTER BRKS LN|        56600|     80000|            70.75| Vacant Land|             NA|               0|                  NA|
|     9|       40003|    2004|10/18/2004 12:00:...|   Andover|  10 CHESTER BRKS LN|       194100|    446639| 43.4579156768666| Residential|  Single Family|               7|                  NA|
|    10|       70005|    2007|11/19/2007 12:00:...|   Andover|10 CHESTER BROOKS LN|       313400|    425000|0.737411764705882| Residential|  Single Family|              NA|                  NA|
|    11|       40042|    2004|05/23/2005 12:00:...|   Andover|       10 DOGWOOD DR|       218700|    440000| 49.7045454545455| Residential|  Single Family|               7|                  NA|
|    12|       13021|    2013|06/16/2014 12:00:...|   Andover|  10 HICKORY HILL DR|       109400|    165000|            0.663| Residential|  Single Family|              NA|                  NA|
|    13|       40035|    2004|04/01/2005 12:00:...|   Andover|    10 HICKORY HL DR|        77900|    184000| 42.3369565217391| Residential|  Single Family|               0|                  NA|
|    14|       14044|    2014|09/28/2015 12:00:...|   Andover|   10 PINE RIDGE  DR|       108700|    128368|      0.846784245| Residential|  Single Family|              NA|                  NA|
|    15|       50027|    2005|03/16/2006 12:00:...|   Andover|     10 SHODDY ML RD|        84900|    215000| 39.4883720930233| Residential|  Single Family|               1|                  NA|
|    16|       30063|    2003|07/15/2004 12:00:...|   Andover|       101 GILEAD RD|       104000|    218000|             47.7| Residential|  Single Family|               0|                  NA|
|    17|       14035|    2014|08/10/2015 12:00:...|   Andover|        101 WALES RD|       164000|    230000|      0.713043478| Residential|  Single Family|              NA|                  NA|
|    18|      900008|    2009|12/14/2009 12:00:...|   Andover|      101 WALES ROAD|       186400|    248500| 0.75010060362173| Residential|  Single Family|              NA|                  NA|
|    19|       40650|    2004|08/18/2005 12:00:...|   Andover|       102 GILEAD RD|       111100|    279900| 39.6927474097892| Residential|  Single Family|               0|                  NA|
|    20|       30055|    2003|01/06/2004 12:00:...|   Andover|         104 WEST ST|        52300|    314867|            16.61| Residential|  Single Family|               7|                  NA|
+------+------------+--------+--------------------+----------+--------------------+-------------+----------+-----------------+------------+---------------+----------------+--------------------+
only showing top 20 rows

In [6]:
# spark.catalog.clearCache()
spark.stop()