In [1]:
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
# https://spark.apache.org/docs/latest/api/python/pyspark.html#pyspark.SparkConf
config = SparkConf()
config.set("spark.driver.memory", "2g")
config.set("spark.executor.memory", "1g")
spark = SparkSession.builder.config(conf=config).master("local").appName("Analyzing Real Estate Sales").getOrCreate()

In [2]:
df = spark.read.format('csv').option("header", "true").load('../Real_Estate_Sales_2001-2017.csv')

# Spark dataframe to pandas

In [3]:
# https://spark.apache.org/docs/latest/sql-pyspark-pandas-with-arrow.html
import numpy as np
import pandas as pd

# Enable Arrow-based columnar data transfers
spark.conf.set("spark.sql.execution.arrow.enabled", "true")
pandas_df = df.select("*").toPandas()
pandas_df

,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
0,815906,170177,2017,04/05/1999 12:00:00 AM,New London,293 PEQUOT AVE,132440,252500,0.525,None,Two Family,None,None
1,2,900035,2009,07/20/2010 12:00:00 AM,Andover,1 DOGWOOD DRIVE,55600,99000,0.561616161616162,Vacant Land,NA,NA,NA
2,3,14011,2014,01/14/2015 12:00:00 AM,Andover,1 JUROVATY LANE,153100,190000,0.805789474,Residential,Single Family,NA,NA
3,4,80009,2008,01/21/2009 12:00:00 AM,Andover,1 ROSE LANE,116600,138900,0.839452843772498,Residential,Single Family,NA,NA
4,5,15006,2015,11/30/2015 12:00:00 AM,Andover,1 ROSE LANE,102900,50000,2.058,Residential,Single Family,14 - Foreclosure,PROPERTY WAS OWNED BY THE BANK
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861592,610215,162032,2016,09/20/2017 12:00:00 AM,Stamford,143 ALTON ROAD,226120,480000,0.471083333,Residential,Single Family,NA,NA
861593,79276,150686,2015,07/29/2016 12:00:00 AM,Bristol,71-79 MEADOW ST,263620,530000,0.497396226,Commercial,NA,NA,NA
861594,731402,70105,2007,03/10/2008 12:00:00 AM,Watertown,116 PINE RIDGE DR,62500,385000,0.162337662337662,Residential,Single Family,7,NA
861595,734206,10411,2001,09/23/2002 12:00:00 AM,Watertown,56 COLONIAL ST,95800,189900,50.4476040021064,Residential,Three Family,3,NA
861596,524390,40319,2004,07/18/2005 12:00:00 AM,Plainville,300 CAMP ST,179050,396500,45.1576292559899,Residential,Single Family,0,NA

# Pandas to spark df

In [ ]:
spark.conf.set("spark.sql.execution.arrow.enabled", "false")
# Not every conversion will go fine, especially if data types don't match up. See load_various_formats file
df = spark.createDataFrame(pandas_df)
df.show()

In [6]:
# spark.catalog.clearCache()
spark.stop()