# Pandas API on Apache Spark
- Github: https://github.com/databricks/koalas#how-do-i-use-this-on-databricks
- Installation: https://koalas.readthedocs.io/en/latest/getting_started/install.html
- 10min to Koalas: https://koalas.readthedocs.io/en/latest/getting_started/10min.html

In [1]:
! pip install koalas==0.25.0

Collecting koalas==0.25.0
  Downloading https://files.pythonhosted.org/packages/4c/bd/8de09d61a0f2ce40c9f094bb52cb646f90acf3044f14e85ed4a812fe50ca/koalas-0.25.0-py3-none-any.whl (858kB)
     |████████████████████████████████| 860kB 470kB/s eta 0:00:01
Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.7/site-packages (from koalas==0.25.0) (1.16.1)
Collecting pyarrow<0.15,>=0.10
  Downloading https://files.pythonhosted.org/packages/0c/fa/baea2c0713b4edf5abfcbd676c3d54e43edde0e62af273352660ef3368ae/pyarrow-0.14.1-cp37-cp37m-macosx_10_6_intel.whl (34.4MB)
     |████████████████████████████████| 34.4MB 1.3MB/s eta 0:00:01     |████████████████████████████▌   | 30.7MB 896kB/s eta 0:00:05
Requirement already satisfied: pandas<1.0,>=0.23.2 in /usr/local/lib/python3.7/site-packages (from koalas==0.25.0) (0.25.3)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.7/site-packages (from koalas==0.25.0) (3.1.2)
Requirement already satisfied: six>=1.0.0 in /usr/local/lib/python3.7/site-packages (from pyarrow<0.15,>=0.10->koalas==0.25.0) (1.13.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.7/site-packages (from pandas<1.0,>=0.23.2->koalas==0.25.0) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/site-packages (from pandas<1.0,>=0.23.2->koalas==0.25.0) (2019.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/site-packages (from matplotlib>=3.0.0->koalas==0.25.0) (2.4.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/site-packages (from matplotlib>=3.0.0->koalas==0.25.0) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/site-packages (from matplotlib>=3.0.0->koalas==0.25.0) (0.10.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib>=3.0.0->koalas==0.25.0) (41.6.0)
Installing collected packages: pyarrow, koalas
  Found existing installation: pyarrow 0.15.1
    Uninstalling pyarrow-0.15.1:
      Successfully uninstalled pyarrow-0.15.1
Successfully installed koalas-0.25.0 pyarrow-0.14.1

In [ ]:
# Below variables are to be set in the shell profile
# export SPARK_HOME=/Users/pmacharl/spark-2.4.4-bin-hadoop2.7
# export PATH=$PATH:$SPARK_HOME/bin
# export PYSPARK_SUBMIT_ARGS="pyspark-shell"
# export PYSPARK_DRIVER_PYTHON=/usr/local/bin/python3
# export PYSPARK_PYTHON=/usr/local/bin/python3

# Start cluster manually

In [ ]:
# https://spark.apache.org/docs/latest/spark-standalone.html
# ./sbin/start-master.sh 
# Start your spark server by navigating to SPARK_HOME/sbin and executing ./start-all.sh
# By default web Spark UI serves on :8080 in cluster mode. See all options for setting host, ip etc. in documentation

In [2]:
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
# https://spark.apache.org/docs/latest/api/python/pyspark.html#pyspark.SparkConf
config = SparkConf()
config.set("spark.driver.memory", "2g")
config.set("spark.executor.memory", "1g")
spark = SparkSession.builder.config(conf=config).master("spark://192.168.0.6:7077").appName("Analyzing Real Estate Sales").getOrCreate()

In [3]:
import pandas as pd
import numpy as np
import databricks.koalas as ks

In [4]:
df = spark.read.format('csv').option("header", "true").load('../Real_Estate_Sales_2001-2017.csv')

In [5]:
# Creating Koalas DataFrame from Spark DataFrame. to_koalas() is automatically attached to Spark DataFrame and available as an API when Koalas is imported.
kdf = df.to_koalas()

# Do all operations as if on Pandas
[pandas tutorial](https://github.com/techsparksguru/pandas_basic_training/blob/master/real_estate_sales.ipynb)

In [25]:
kdf.head(10)

       ID SerialNumber ListYear            DateRecorded        Town               Address AssessedValue SaleAmount         SalesRatio PropertyType ResidentialType        NonUseCode                         Remarks
0  815906       170177     2017  04/05/1999 12:00:00 AM  New London        293 PEQUOT AVE        132440     252500              0.525         None      Two Family              None                            None
1       2       900035     2009  07/20/2010 12:00:00 AM     Andover       1 DOGWOOD DRIVE         55600      99000  0.561616161616162  Vacant Land              NA                NA                              NA
2       3        14011     2014  01/14/2015 12:00:00 AM     Andover       1 JUROVATY LANE        153100     190000        0.805789474  Residential   Single Family                NA                              NA
3       4        80009     2008  01/21/2009 12:00:00 AM     Andover           1 ROSE LANE        116600     138900  0.839452843772498  Residential   Single Family                NA                              NA
4       5        15006     2015  11/30/2015 12:00:00 AM     Andover           1 ROSE LANE        102900      50000              2.058  Residential   Single Family  14 - Foreclosure  PROPERTY WAS OWNED BY THE BANK
5       6        20030     2002  04/24/2003 12:00:00 AM     Andover         10 BAUSOLA RD         91800     189900   48.3412322274881  Residential   Single Family                 0                              NA
6  815907       173165     2017  08/01/2001 12:00:00 AM     Shelton          28 SUNSET DR        126980     238000              0.534         None   Single Family              None                            None
7       8        30047     2003  04/19/2004 12:00:00 AM     Andover    10 CHESTER BRKS LN         56600      80000              70.75  Vacant Land              NA                 0                              NA
8       9        40003     2004  10/18/2004 12:00:00 AM     Andover    10 CHESTER BRKS LN        194100     446639   43.4579156768666  Residential   Single Family                 7                              NA
9      10        70005     2007  11/19/2007 12:00:00 AM     Andover  10 CHESTER BROOKS LN        313400     425000  0.737411764705882  Residential   Single Family                NA                              NA

In [26]:
kdf.dtypes

ID                 object
SerialNumber       object
ListYear           object
DateRecorded       object
Town               object
Address            object
AssessedValue      object
SaleAmount         object
SalesRatio         object
PropertyType       object
ResidentialType    object
NonUseCode         object
Remarks            object
dtype: object

In [27]:
kdf.columns

Index(['ID', 'SerialNumber', 'ListYear', 'DateRecorded', 'Town', 'Address',
       'AssessedValue', 'SaleAmount', 'SalesRatio', 'PropertyType',
       'ResidentialType', 'NonUseCode', 'Remarks'],
      dtype='object')

In [28]:
kdf.info()

<class 'databricks.koalas.frame.DataFrame'>
Index: 861597 entries, 0 to 861596
Data columns (total 13 columns):
ID                 861597 non-null object
SerialNumber       861597 non-null object
ListYear           861597 non-null object
DateRecorded       861589 non-null object
Town               861597 non-null object
Address            861594 non-null object
AssessedValue      861292 non-null object
SaleAmount         830804 non-null object
SalesRatio         861596 non-null object
PropertyType       815904 non-null object
ResidentialType    861596 non-null object
NonUseCode         830867 non-null object
Remarks            826698 non-null object
dtypes: object(13)

In [29]:
kdf.shape

(861597, 13)

In [30]:
kdf.size

861597

In [31]:
kdf.max()

ID                                                             99999
SerialNumber                                                   99529
ListYear                                                        2017
DateRecorded                                  12/31/2015 12:00:00 AM
Town                                                       Woodstock
Address                                           parking space only
AssessedValue                                                 999950
SaleAmount                                                    999999
SalesRatio                                                        NA
PropertyType                                             Vacant Land
ResidentialType                                          Vacant Land
NonUseCode                                                        NA
Remarks            zoning changed from residential to commercial ...
dtype: object

In [20]:
kdf[(kdf['SaleAmount'] > kdf['SaleAmount'].mean()) & (kdf['Town'] == 'Andover')]

            ID SerialNumber ListYear            DateRecorded     Town                   Address AssessedValue SaleAmount         SalesRatio PropertyType ResidentialType           NonUseCode                                         Remarks
8            9        40003     2004  10/18/2004 12:00:00 AM  Andover        10 CHESTER BRKS LN        194100     446639   43.4579156768666  Residential   Single Family                    7                                              NA
9           10        70005     2007  11/19/2007 12:00:00 AM  Andover      10 CHESTER BROOKS LN        313400     425000  0.737411764705882  Residential   Single Family                   NA                                              NA
10          11        40042     2004  05/23/2005 12:00:00 AM  Andover             10 DOGWOOD DR        218700     440000   49.7045454545455  Residential   Single Family                    7                                              NA
25          26        30072     2003  08/16/2004 12:00:00 AM  Andover             11 DOGWOOD DR         45600     449900              10.13  Residential   Single Family                    7                                              NA
26          27       100027     2010  07/11/2011 12:00:00 AM  Andover          11 DOGWOOD DRIVE        348600     450000  0.774666666666666  Residential   Single Family                   NA                                              NA
27          28        40001     2004  10/12/2004 12:00:00 AM  Andover            11 SHADBLOW LN        132800     381900   34.7735009164703  Residential   Single Family                    7                                              NA
31          32        50046     2005  07/11/2006 12:00:00 AM  Andover          11 WOOD FERN WAY         54900     465000   11.8064516129032  Residential   Single Family                    7                                              NA
50          51        40626     2004  03/18/2005 12:00:00 AM  Andover            12 SHADBLOW LN        112200     455625   24.6255144032922  Residential   Single Family                    7                                              NA
77          78        15024     2015  04/04/2016 12:00:00 AM  Andover         135 BEAR SWAMP RD        296560     550000             0.5392  Residential   Single Family          01 - Family            PROPERTY WAS SOLD FROM MOTHER TO SON
83          84        14023     2014  06/03/2015 12:00:00 AM  Andover          14 WOOD FERN WAY        244000     366000        0.666666667  Residential   Single Family                   NA                                              NA
103        104        40020     2004  02/08/2005 12:00:00 AM  Andover          15 WOOD FERN WAY         54100     435100   12.4339232360377  Residential   Single Family                    7                                              NA
123        124        50021     2005  02/27/2006 12:00:00 AM  Andover    16 WOOD FERN WAY LT 29         52500     379900   13.8194261647802  Residential   Single Family                    7                                              NA
126        127        13036     2013  09/25/2014 12:00:00 AM  Andover           161 BUNKER HILL        233520     625000              0.374  Residential      Two Family                   25                             PROPERTY WAS IN 490
129        130        15029     2015  05/02/2016 12:00:00 AM  Andover         164 BEAR SWAMP RD        368300     545000        0.675779817  Residential   Single Family                   NA                                              NA
135        136        40659     2004  09/22/2005 12:00:00 AM  Andover        17 CHESTER BRKS LN         44400     459900    9.6542726679713  Vacant Land              NA                    7                                              NA
139        139        40630     2004  03/19/2005 12:00:00 AM  Andover            17 SHADBLOW LN        235000     429900   54.6638753198418  Residential   Single Family                    7                                              NA
144        144        40649     2004  08/15/2005 12:00:00 AM  Andover             172 HENDEE RD        162930     675000   24.1377777777778  Residential   Single Family                   28                                              NA
155        155        40017     2004  01/03/2005 12:00:00 AM  Andover             18 DOGWOOD DR        217200     440500   49.3076049943246  Residential   Single Family                    7                                              NA
157        157        50056     2005  08/28/2006 12:00:00 AM  Andover            18 LAKEVIEW DR        111000     399000               27.8  Residential   Single Family                    0                                              NA
178        178        14012     2014  02/11/2015 12:00:00 AM  Andover           2 SHADBLOW LANE        290700     394550        0.736788747  Residential   Single Family                   NA                                              NA
181        181        40007     2004  10/29/2004 12:00:00 AM  Andover         200 BEAR SWAMP RD        209900     376500   55.7503320053121  Residential   Single Family                    0                                              NA
182        182        50020     2005  02/21/2006 12:00:00 AM  Andover             200 HEBRON RD        188800     375000   50.3466666666667  Residential   Single Family                    6                                              NA
188        188        50032     2005  04/28/2006 12:00:00 AM  Andover             209 HEBRON RD        130400     408000   31.9607843137255  Residential   Single Family                    7                                              NA
193        193        59045     2005  07/07/2006 12:00:00 AM  Andover       214 BEAR SWAMP RD &        182500     460000   39.6739130434783  Residential   Single Family                   24                                              NA
203        203        30088     2003  09/15/2004 12:00:00 AM  Andover        22 CHESTER BRKS LN        180700     391000              46.21  Residential   Single Family                    7                                              NA
210        210        70007     2007  11/28/2007 12:00:00 AM  Andover          22 WOOD FERN WAY         68700     410930  0.167181758450344  Residential   Single Family                    7                                              NA
211        211        15028     2015  05/02/2016 12:00:00 AM  Andover          22 WOOD FERN WAY        258500     410000        0.630487805  Residential   Single Family                   NA                                              NA
212        212       100007     2010  12/06/2010 12:00:00 AM  Andover             224 LAKE ROAD        241500     434575  0.555715354081574  Residential   Single Family                   NA                                              NA
220        220        30028     2003  01/02/2004 12:00:00 AM  Andover        23 CHESTER BRKS LN        123100     466631              26.38  Residential   Single Family                    7                                              NA
229        229        30087     2003  09/27/2004 12:00:00 AM  Andover             231 GILEAD RD        189400     495000              38.26  Residential   Single Family                    0                                              NA
235        235        70020     2007  05/06/2008 12:00:00 AM  Andover             242 GILEAD RD        246700     365000  0.675890410958904  Residential   Single Family                   10                                              NA
246        246       120025     2012  04/01/2013 12:00:00 AM  Andover          26 WOOD FERN WAY        260400     405000  0.642962962962963  Residential   Single Family                   NA                                               0
247        247        14041     2014  08/31/2015 12:00:00 AM  Andover          26 WOOD FERN WAY        260400     385000        0.676363636  Residential   Single Family                   NA                                              NA
252        252        15030     2015  05/02/2016 12:00:00 AM  Andover             267 HEBRON RD        262700     377500         0.69589404  Residential   Single Family                   NA                                              NA
271        271        40028     2004  03/28/2005 12:00:00 AM  Andover             29 STANLEY DR        215700     440000   49.0227272727273  Residential   Single Family                    0                                              NA
272        272        70040     2007  06/24/2008 12:00:00 AM  Andover             29 STANLEY DR        291400     407000  0.715970515970516  Residential   Single Family                   NA                                              NA
283        283        15021     2015  02/11/2016 12:00:00 AM  Andover           30 LONG HILL RD        194300     364500        0.533058985  Residential   Single Family                   NA                                              NA
308        308       100029     2010  08/01/2011 12:00:00 AM  Andover           332 HEBRON ROAD        321400     449000  0.715812917594655  Residential   Single Family                   NA                                              NA
315        316        70018     2007  03/31/2008 12:00:00 AM  Andover             336 HEBRON RD        312900     382500  0.818039215686274  Residential   Single Family                   14                                              NA
316        317        15002     2015  10/08/2015 12:00:00 AM  Andover           336 HEBRON ROAD        239800     362500        0.661517241  Residential   Single Family                   NA                                              NA
317        318        40038     2004  04/29/2005 12:00:00 AM  Andover               336 LAKE RD        180500     650000   27.7692307692308  Residential   Single Family                    0                                              NA
318        319        40652     2004  08/22/2005 12:00:00 AM  Andover              34 BAILEY RD        157200     389000   40.4113110539846  Residential   Single Family                    0                                              NA
337        338       120030     2012  05/22/2013 12:00:00 AM  Andover           355 HEBRON ROAD        227500     377500  0.602649006622517  Residential   Single Family                   NA                                               0
338        339        80011     2008  02/02/2009 12:00:00 AM  Andover       36 BOSTON HILL ROAD        397230     505000  0.786594059405941  Residential   Single Family                   NA                                              NA
341        342        70025     2007  07/15/2008 12:00:00 AM  Andover           36 OAK FARMS RD        327510     595000  0.550436974789916  Residential   Single Family                   NA                                              NA
342        343       110009     2011  02/27/2012 12:00:00 AM  Andover           36 OAK FARMS RD        383400     470000  0.815744680851064  Residential   Single Family                   NA                                              NA
363        365        30034     2003  01/29/2004 12:00:00 AM  Andover           39 OLD FARMS RD        104500     364197              28.69  Residential   Single Family                    7                                              NA
364        366        13029     2013  08/04/2014 12:00:00 AM  Andover           39 OLD FARMS RD        256200     377500              0.679  Residential   Single Family                   NA                                              NA
365        367        30081     2003  09/08/2004 12:00:00 AM  Andover             39 STANLEY DR        202100     397000               50.9  Residential   Single Family                    0                                              NA
367        369        14013     2014  02/25/2015 12:00:00 AM  Andover               390 ROUTE 6        345200     675000        0.511407407   Commercial              NA                   NA                                              NA
370        372        40637     2004  07/01/2005 12:00:00 AM  Andover          4 CHESTER BRK LN        198700     407000   48.8206388206388  Residential   Single Family                    0                                              NA
374        376        70017     2007  03/13/2008 12:00:00 AM  Andover             4 SHADBLOW LN         79100     391500  0.202043422733078  Residential   Single Family                    7                                              NA
378        380        40629     2004  06/13/2005 12:00:00 AM  Andover               41 BIRCH DR        164700     387000   42.5581395348837  Residential   Single Family                    0                                              NA
391        393        20025     2002  02/18/2003 12:00:00 AM  Andover               426 LAKE RD        177800     429500   41.3969732246799  Residential   Single Family                    0                                              NA
405        407        80014     2008  03/16/2009 12:00:00 AM  Andover               497 ROUTE 6        219200     695000  0.315395683453237   Commercial              NA                   07                                              NA
406        408        50016     2005  01/05/2006 12:00:00 AM  Andover          5 CHESTER BRK LN        229300     437000               52.5  Residential   Single Family                    0                                              NA
407        409        20057     2002  07/22/2003 12:00:00 AM  Andover       5 CHESTER BROOKS LN         44200     385000   11.4805194805195  Residential   Single Family                    7                                              NA
410        413        80017     2008  03/19/2009 12:00:00 AM  Andover             5 HENDEE ROAD        237100     380000  0.623947368421053  Residential   Single Family                   NA                                              NA
414        417        40628     2004  06/08/2005 12:00:00 AM  Andover             5 SHADBLOW LN        155200     424500   36.5606595995289  Residential   Single Family                    7                                              NA
415        418        70038     2007  09/25/2008 12:00:00 AM  Andover             5 SHADBLOW LN        304400     420000  0.724761904761905  Residential   Single Family                   NA                                              NA
418        421       900036     2009  08/09/2010 12:00:00 AM  Andover         52 LAKESIDE DRIVE        231200     370000  0.624864864864865  Residential   Single Family                   NA                                              NA
439        442        50030     2005  04/17/2006 12:00:00 AM  Andover              6 DOGWOOD DR         51800     449900   11.5136697043788  Residential   Single Family                    7                                              NA
440        443        13037     2013  09/30/2014 12:00:00 AM  Andover              6 DOGWOOD DR        282300     415000               0.68  Residential   Single Family                   NA                                              NA
441        444        15036     2015  05/31/2016 12:00:00 AM  Andover            6 DOGWOOD LANE        282300     413000        0.683535109  Residential   Single Family                   NA                                              NA
444        447        15023     2015  02/29/2016 12:00:00 AM  Andover           6 SHADBLOW LANE        391300     485000        0.806804124  Residential   Single Family                   NA                                              NA
465        468        70011     2007  12/17/2007 12:00:00 AM  Andover              62 HENDEE RD        238400     371000  0.642587601078167  Residential   Single Family                   NA                                              NA
495        498        50022     2005  02/28/2006 12:00:00 AM  Andover             7 LAKESIDE DR        158400     596000               26.6  Residential   Single Family                    0                                              NA
532        534        20029     2002  04/11/2003 12:00:00 AM  Andover         8 CHESTER BRKS LN         69900     395293   17.6830857111054  Residential   Single Family                    7                                              NA
536        538       900013     2009  02/16/2010 12:00:00 AM  Andover           8 SHADBLOW LANE        163500     460000  0.355434782608696  Residential   Single Family                   07                                              NA
568        570        40023     2004  02/24/2005 12:00:00 AM  Andover             9 SHADBLOW LN        231300     390000   59.3076923076923  Residential   Single Family                    7                                              NA
576        578        30045     2003  03/15/2004 12:00:00 AM  Andover            91 LAKESIDE DR        103900     450000              23.08  Residential   Single Family                    0                                              NA
588        590       100015     2010  04/19/2011 12:00:00 AM  Andover         95 LAKESIDE DRIVE        225800     367500  0.614421768707483  Residential   Single Family                   NA                                              NA
33994   825941        17015     2017  12/20/2017 12:00:00 AM  Andover        36 BOSTON HILL  RD        316700     605000              0.523         None   Single Family                 None                                            None
36179   827461        17016     2017  01/04/2018 12:00:00 AM  Andover                2 SHADBLOW        272300     368000               0.74         None   Single Family           25 - Other  THIS PROPERTY WAS SOLD TO A RELOCATION COMPANY
36180   827462        17017     2017  01/04/2018 12:00:00 AM  Andover                2 SHADBLOW        272300     368000               0.74         None   Single Family           25 - Other       SOLD FROM RELOCATION COMPANY TO NEW OWNER
40259   830424        17022     2017  02/05/2018 12:00:00 AM  Andover              84 LONG HILL        196000     525000              0.373         None   Single Family  28 - Use Assessment                       THIS PROPERTY IS IN PA490
45098   834073        17025     2017  03/19/2018 12:00:00 AM  Andover          11 SHADBLOW LANE        241300     383000               0.63         None   Single Family                 None                                            None
48945   836993        17039     2017  04/12/2018 12:00:00 AM  Andover         80 SHODDY MILL RD        316500     395000              0.801         None   Single Family                 None                                            None
62416   847343        17051     2017  06/27/2018 12:00:00 AM  Andover               410 LAKE RD        254500     550000              0.463         None   Single Family                 None                                            None
422897     394        20025     2002  02/18/2003 12:00:00 AM  Andover  426 LAKE RD                     177800     429500              41.39  Residential   Single Family                    0                                              NA
573355     411        20057     2002  07/22/2003 12:00:00 AM  Andover  5 CHESTER BROOKS LN              44200     385000              11.48  Residential   Single Family                    7                                              NA
761626     535        20029     2002  04/11/2003 12:00:00 AM  Andover  8 CHESTER BRKS LN                69900     395293              17.68  Residential   Single Family                    7                                              NA

In [41]:
pd.set_option('display.float_format', lambda x: '%.1f' % x)
kdf_property_type = kdf.groupby(['PropertyType'])

In [42]:
# There seems to be an error, kdf is printing more than 10, maybe koalas need to mature
kdf_property_type.head(10)

            ID SerialNumber ListYear            DateRecorded           Town                     Address AssessedValue SaleAmount          SalesRatio    PropertyType ResidentialType                   NonUseCode                         Remarks
0       815906       170177     2017  04/05/1999 12:00:00 AM     New London              293 PEQUOT AVE        132440     252500               0.525            None      Two Family                         None                            None
6       815907       173165     2017  08/01/2001 12:00:00 AM        Shelton                28 SUNSET DR        126980     238000               0.534            None   Single Family                         None                            None
23      815908       173202     2017  08/23/2001 12:00:00 AM        Shelton              57 ADAMS DRIVE        370230     430500                0.86            None   Single Family             14 - Foreclosure                            None
30      815909       170164     2017  05/29/2008 12:00:00 AM        Clinton               78 LIBERTY ST        153100     400000               0.383            None      Two Family                         None                            None
34      815910       170107     2017  06/13/2008 12:00:00 AM      Westbrook                 16 HALLS RD        598100     800000               0.748            None      Two Family                         None                IN-LAW APARTMENT
56      815911       170207     2017  07/03/2008 12:00:00 AM        Clinton              80 SHORE RD #2        119400     160000               0.746            None    Condo Family                         None                            None
69      815912        17698     2017  08/02/2008 12:00:00 AM  East Hartford         136 UNIVERSITY AVE.        127260     183500               0.694            None   Single Family                         None                            None
74      815913       170045     2017  05/07/2010 12:00:00 AM     Washington     378 NETTLETON HOLLOW RD        398720     369001               1.081            None   Single Family  18 - In Lieu Of Foreclosure                            None
75      815914       170226     2017  07/13/2010 12:00:00 AM     Bloomfield                 6 PINNEY RD        130690     215000               0.608            None   Single Family                  01 - Family                            None
113     815915       170263     2017  08/14/2010 12:00:00 AM     Bloomfield              10 SYCAMORE RD        122570     201000                0.61            None   Single Family                         None                            None
13795    13881       100233     2010  07/25/2011 12:00:00 AM         Berlin          121 SAVAGE HILL RD        162700     158000    1.02974683544304  10 Mill Forest              NA                           NA                              NA
18901    19001        10020     2010  03/29/2011 12:00:00 AM        Bethany                 75 LACEY RD           360      80000              0.0045  10 Mill Forest              NA                           NA                              NA
112338  198418        10012     2010  11/18/2010 12:00:00 AM          Essex               DEEP RIVER RD          4600     250000              0.0184  10 Mill Forest              NA                           25                              NA
141402  304696       100125     2010  02/25/2011 12:00:00 AM      Killingly           946 HARTFORD PIKE           390       6000               0.065  10 Mill Forest              NA                           09                              NA
340035  121763       100133     2010  11/24/2010 12:00:00 AM        Danbury        11 CALDWELL TE #2603        115900     357160   0.324504423787658  10 Mill Forest              NA                           07                              NA
493797  734441        10002     2010  10/04/2010 12:00:00 AM      Watertown           62 HUNGERFORD AVE        145000       None                1.45  10 Mill Forest              NA                           25                              NA
506126  439844       100139     2010  04/01/2011 12:00:00 AM     New London                23 SUNSET ST        116690     120000   0.972416666666667  10 Mill Forest              NA                           NA                              NA
529843  733856        10007     2010  10/07/2010 12:00:00 AM      Watertown                46 GORHAM ST        180000     276000   0.652173913043478  10 Mill Forest              NA                           NA                              NA
567304  301235       100123     2010  02/25/2011 12:00:00 AM      Killingly                179 MAPLE ST          2530      13000   0.194615384615385  10 Mill Forest              NA                           09                              NA
697901  788045        10019     2010  12/09/2010 12:00:00 AM     Winchester           219 GRANTVILLE RD          6110     340000  0.0179705882352941  10 Mill Forest              NA                           NA                              NA
1235      1242       160010     2016  10/07/2016 12:00:00 AM        Ansonia      14 NORTH SPRING STREET        201300     170000         1.184117647      Apartments              NA             14 - Foreclosure                  OCCUPANCY IS 6
2987      2997        10297     2001  07/31/2002 12:00:00 AM        Ansonia              46 SCOTLAND ST         72870      50000              145.74      Apartments              NA                           25                              NA
3064      3074        10033     2001  11/02/2001 12:00:00 AM        Ansonia              5-7 RUILAND ST        117180     185000    63.3405405405405      Apartments              NA                            0                              NA
3110      3120       160027     2016  10/27/2016 12:00:00 AM        Ansonia       5 NORTH SPRING STREET        161800     225000         0.719111111      Apartments              NA             14 - Foreclosure                              NA
3283      3292        50078     2005  12/16/2005 12:00:00 AM        Ansonia             6 BERKSHIRE CIR        104900     275000                38.1      Apartments              NA                            0                              NA
3337      3344       160094     2016  01/17/2017 12:00:00 AM        Ansonia          6 PORK HOLLOW ROAD        171800     176604         0.972797898      Apartments              NA      07 - Change in Property                              NA
3411      3417        15035     2015  11/23/2015 12:00:00 AM        Ansonia             64 RUFUS STREET        203700     440000         0.462954545      Apartments              NA                           NA                              NA
3952      3957        10081     2001  12/31/2001 12:00:00 AM        Ansonia             MULTI ADDRESSES        214340     199000    107.708542713568      Apartments              NA                            0                              NA
4078      4085        80006     2008  10/31/2008 12:00:00 AM        Ashford       149 ASHFORD CENTER RD       2323700    3850000   0.603558441558442      Apartments              NA                           NA                              NA
4079      4086        50077     2005  06/30/2006 12:00:00 AM        Ashford          149 ASHFORD CTR RD        893200    3335000                26.8      Apartments              NA                            0                              NA
60          61        50058     2005  03/23/2006 12:00:00 AM        Andover                 122 ROUTE 6         86820      12000               723.5      Commercial              NA                            6                              NA
367        369        14013     2014  02/25/2015 12:00:00 AM        Andover                 390 ROUTE 6        345200     675000         0.511407407      Commercial              NA                           NA                              NA
405        407        80014     2008  03/16/2009 12:00:00 AM        Andover                 497 ROUTE 6        219200     695000   0.315395683453237      Commercial              NA                           07                              NA
785        792        13073     2013  07/31/2014 12:00:00 AM        Ansonia      10 NORTH SPRING STREET        133500     187500               0.712      Commercial              NA                           NA                              NA
930        936        11032     2011  08/16/2012 12:00:00 AM        Ansonia             111 WAKELEE AVE        376500     410000   0.918292682926829      Commercial              NA                           NA                              NA
968        974        10032     2001  11/01/2001 12:00:00 AM        Ansonia             117 WAKELEE AVE         81480      25000              325.92      Commercial              NA                           25                              NA
969        975       800394     2008  09/29/2009 12:00:00 AM        Ansonia             117 WAKELEE AVE         70700      88125   0.802269503546099      Commercial              NA                           NA                              NA
988        994        10229     2001  05/29/2002 12:00:00 AM        Ansonia        12 & 14 RIVERSIDE DR        177260     290000    61.1241379310345      Commercial              NA                            0                              NA
1064      1070        10031     2001  11/01/2001 12:00:00 AM        Ansonia             121 WAKELEE AVE        536550     650000    82.5461538461538      Commercial              NA                           25                              NA
1065      1071       800396     2008  09/29/2009 12:00:00 AM        Ansonia             121 WAKELEE AVE        636800     793713   0.802305115325061      Commercial              NA                           NA                              NA
449        452        50045     2005  12/05/2005 12:00:00 AM        Andover    6 STEEPLE CHASE RD UT 59             0     280000                   0           Condo              NA                            7                              NA
701        708        90122     2009  06/28/2010 12:00:00 AM        Ansonia                 1 HUGHES CR        151500     204900   0.739385065885798           Condo              NA                           NA                              NA
702        709        11040     2011  09/06/2012 12:00:00 AM        Ansonia                 1 HUGHES CR        151500     169900   0.891701000588581           Condo              NA                           NA                              NA
713        720         1184     2011  05/21/2012 12:00:00 AM        Ansonia         1 NOLAN MANOR CONDO         46400      60000   0.773333333333333           Condo              NA                           NA                              NA
714        721        50123     2005  02/08/2006 12:00:00 AM        Ansonia           1 NOLAN MNR CONDO         37500      57000                65.8           Condo              NA                            0                              NA
769        776       100095     2010  06/09/2011 12:00:00 AM        Ansonia                10 HUGHES CR        148700     182500   0.814794520547945           Condo              NA                           NA                              NA
902        909         1198     2011  06/05/2012 12:00:00 AM        Ansonia                11 HUGHES CR        151000     175800   0.858930602957907           Condo              NA                           NA                              NA
1021      1027       100015     2010  11/02/2010 12:00:00 AM        Ansonia                12 HUGHES CR        156900     184900   0.848566792861006           Condo              NA                           NA                              NA
1137      1143        40127     2004  01/24/2005 12:00:00 AM        Ansonia       13 LIBERTY PNES UT 13         55600     116000    47.9310344827586           Condo              NA                            0                              NA
1138      1144        50249     2005  07/05/2006 12:00:00 AM        Ansonia              13 MCINTOSH LN             0     197400                   0           Condo              NA                            7                              NA
696        703       160065     2016  12/14/2016 12:00:00 AM        Ansonia          1 FARREL BOULEVARD       3553700    7116000         0.499395728      Industrial              NA                           NA                              NA
716        723        30097     2003  01/07/2004 12:00:00 AM        Ansonia              1 RIVERSIDE DR        752100     290000              259.34      Industrial              NA                           25                              NA
3415      3421        14151     2014  11/21/2014 12:00:00 AM        Ansonia            65 BEAVER STREET         24000       8333         2.880115205      Industrial              NA                           NA                              NA
3416      3422        14152     2014  11/21/2014 12:00:00 AM        Ansonia            65 BEAVER STREET         24000       8333         2.880115205      Industrial              NA                           NA                              NA
3417      3423        14153     2014  11/21/2014 12:00:00 AM        Ansonia            65 BEAVER STREET         24000       8333         2.880115205      Industrial              NA                           NA                              NA
11600    11678        60018     2006  01/19/2007 12:00:00 AM    Barkhamsted                 40 RIVER RD        396560     850000   0.466541176470588      Industrial              NA                           NA                    addl remarks
11971    12052        20038     2002  01/08/2003 12:00:00 AM   Beacon Falls              105 BREAULT RD       1526840    1100000    138.803636363636      Industrial              NA                           25                              NA
12305    12387        20027     2002  12/12/2002 12:00:00 AM   Beacon Falls          170 PINESBRIDGE RD       1844430    2500000             73.7772      Industrial              NA                            0                              NA
12306    12388        30080     2003  03/30/2004 12:00:00 AM   Beacon Falls          170 PINESBRIDGE RD       1844430    1700000              108.49      Industrial              NA                           13                              NA
12437    12521        90088     2009  09/27/2010 12:00:00 AM   Beacon Falls  20 24 28 & 32 LANCASTER DR        145150     862500   0.168289855072464      Industrial              NA                           15                              NA
125        126       120014     2012  01/03/2013 12:00:00 AM        Andover           160 WHEELING ROAD         55300      79000                 0.7              NA              NA                           NA                              NA
143        143        12001     2012  10/01/2012 12:00:00 AM        Andover          172  WHEELING ROAD         54500      77000   0.707792207792208              NA              NA                           NA                              NA
280        280       120024     2012  03/26/2013 12:00:00 AM        Andover              30 GILEAD ROAD         49500      75000                0.66              NA              NA                           NA                               0
503        505        12002     2012  10/09/2012 12:00:00 AM        Andover             714 EAST STREET        108080      17460     6.1901489117984              NA              NA                           25                              NA
537        539       120018     2012  03/04/2013 12:00:00 AM        Andover           8 TIMES FARM ROAD         39100      43000   0.909302325581395              NA              NA                           NA                               0
599        601       120031     2012  05/23/2013 12:00:00 AM        Andover             BEAR SWAMP ROAD         67600     145000   0.466206896551724              NA              NA                           NA                               0
600        602       120037     2012  07/09/2013 12:00:00 AM        Andover             BEAR SWAMP ROAD         51100      74500   0.685906040268456              NA              NA                           NA                               0
601        603       120026     2012  04/30/2013 12:00:00 AM        Andover             BEAR SWAMP ROAD         55700      75000   0.742666666666667              NA              NA                           NA                               0
661        666       120016     2012  02/19/2013 12:00:00 AM        Andover   SHODDY MILL ROAD LOT 21-4         49000      59000   0.830508474576271              NA              NA                           NA                              NA
3971      3976        10013     2001  11/02/2001 12:00:00 AM        Ashford              103 FERENCE RD        118880     289000    41.1349480968858              NA              NA                           28                              NA
14959    15048       150002     2015  10/01/2015 12:00:00 AM         Berlin            2447 BERLIN TPKE        468200     450000         1.040444444  Public Utility              NA             14 - Foreclosure               nonqualified sale
17440    17533        60158     2006  03/05/2007 12:00:00 AM         Berlin           BERLIN TPKE LT 13        291200     445000    0.65438202247191  Public Utility              NA                           NA                    addl remarks
17533    17628       900074     2009  01/27/2010 12:00:00 AM         Berlin       LOT 5/BLK119/MAP 21-4         89100      38750    2.29935483870968  Public Utility              NA                           25                              NA
17553    17648       800128     2008  04/23/2009 12:00:00 AM         Berlin       MAP 9-1/BLK 76/LOT 84        107200      97654    1.09775329223585  Public Utility              NA                           15                              NA
17765    17861        14057     2014  08/21/2015 12:00:00 AM        Bethany               1104 AMITY RD       5417370       5000            1083.474  Public Utility              NA                           NA                              NA
81378    81388       800377     2008  04/23/2009 12:00:00 AM        Bristol                    RAILROAD             0     722851                   0  Public Utility              NA                           25                              NA
83155    84122       130171     2013  04/10/2014 12:00:00 AM     Brookfield           37 CARMEN HILL RD        352340     525000               0.671  Public Utility              NA                           NA                              NA
84816    90850        50031     2005  05/22/2006 12:00:00 AM         Canaan               LIME ROCK STA             0          0                   0  Public Utility              NA                           19                              NA
108108  182390        50041     2005  08/29/2006 12:00:00 AM       Eastford          71 ASHFORD RD LT 2         39340      45000               87.42  Public Utility              NA                            6                              NA
156687  358289        50989     2005  09/11/2006 12:00:00 AM     Middletown            2099 SAYBROOK RD        130720      42200              309.76  Public Utility              NA                           19                              NA
2            3        14011     2014  01/14/2015 12:00:00 AM        Andover             1 JUROVATY LANE        153100     190000         0.805789474     Residential   Single Family                           NA                              NA

In [44]:
# Mean sale amount
kdf['SaleAmount'].mean()

360835.43889327685

In [46]:
# How many paid between my budget [300,000,350,000]
kdf[kdf['SaleAmount'].between(300000,350000)].count()

ID                 58735
SerialNumber       58735
ListYear           58735
DateRecorded       58734
Town               58735
Address            58735
AssessedValue      58719
SaleAmount         58735
SalesRatio         58735
PropertyType       55054
ResidentialType    58735
NonUseCode         55797
Remarks            55763
dtype: int64

In [47]:
# How many people paid as per my budget [300000,350000] grouped by Town
my_df = kdf[kdf['SaleAmount'].between(300000,350000)]
my_df.count()

ID                 58735
SerialNumber       58735
ListYear           58735
DateRecorded       58734
Town               58735
Address            58735
AssessedValue      58719
SaleAmount         58735
SalesRatio         58735
PropertyType       55054
ResidentialType    58735
NonUseCode         55797
Remarks            55763
dtype: int64

In [48]:
# How many people paid as per my budget [300000,350000] grouped by Town
my_df1 = my_df.groupby(['Town']).agg(COUNT=("ID","count"))
my_df1.count()

COUNT    169
dtype: int64

In [49]:
# Which town has most number of people that have paid the same as my budget?
my_df1[my_df1['COUNT'] == my_df1['COUNT'].max()]

         COUNT
Town
Norwalk   2394

# Remove spark application

In [50]:
spark.stop()