# Load Data

In [24]:
import glob, os, pandas as pd
cols_to_read = ['Date','Retailer','PercentagePoints','Units']

df = pd.read_excel("./data/consolidated.xlsx")
df.drop(df.columns.difference(cols_to_read), 1, inplace=True) # Drop all columns except cols_to_read
df

       Retailer  PercentagePoints  Units        Date
0        Amazon          0.844994     19  08/11/2020
1          More          0.912953     69  08/29/2020
2      Reliance          0.677285     66  08/20/2020
3      Reliance          0.202650     11  08/24/2020
4      Reliance          0.692599     64  08/03/2020
...         ...               ...    ...         ...
21778    Amazon          0.279162     64  08/23/2020
21779   Walmart          0.809386     37  08/18/2020
21780  FlipKart          0.335272     76  08/20/2020
21781  Nilgiris          0.687438     86  08/13/2020
21782  Reliance          0.189497     13  08/27/2020

[21783 rows x 4 columns]

# Counts - All

In [ ]:
df.groupby(['Retailer'])['Retailer'].count()

# Pivot Table

In [ ]:
import pandas as pd
df_pivot_table = pd.pivot_table(df,index=["Date","Retailer"], values="PercentagePoints", aggfunc=['count'], fill_value=0)

In [ ]:
df_pivot_table

In [ ]:
df_pivot_table.groupby(['Date']).plot(kind='bar')